<a href="https://colab.research.google.com/github/Leorasaharia/hospital-schema/blob/main/database_schema_demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# =====================================
# 1. INSTALL & START MYSQL
# =====================================

!apt-get update
!apt-get install -y mysql-server
!service mysql start

Get:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,632 B]
Get:2 https://cli.github.com/packages stable InRelease [3,917 B]
Hit:3 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:4 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Get:5 https://cli.github.com/packages stable/main amd64 Packages [354 B]
Get:6 https://r2u.stat.illinois.edu/ubuntu jammy InRelease [6,555 B]
Get:7 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Get:8 https://r2u.stat.illinois.edu/ubuntu jammy/main all Packages [9,623 kB]
Get:9 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease [18.1 kB]
Get:10 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [127 kB]
Hit:11 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:12 http://security.ubuntu.com/ubuntu jammy-security/restricted amd64 Packages [6,205 kB]
Get:13 https://r2u.stat.illinois.edu/ubuntu jammy/main amd64 Packages [2,870 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [6,411 kB]
Get:15 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy/main amd64 Packages [38.5 kB]
Get:16 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,289 kB]
Get:17 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [3,637 kB]
Get:18 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,600 kB]
Get:19 http://archive.ubuntu.com/ubuntu jammy-updates/multiverse amd64 Packages [69.2 kB]
Get:20 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [3,968 kB]
Get:21 http://archive.ubuntu.com/ubuntu jammy-backports/universe amd64 Packages [37.2 kB]
Get:22 http://archive.ubuntu.com/ubuntu jammy-backports/main amd64 Packages [83.9 kB]
Fetched 36.2 MB in 6s (6,357 kB/s)
Reading package lists... Done
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  libaio1 libcgi-fast-perl libcgi-pm-perl libclone-perl libencode-locale-perl
  libfcgi-bin libfcgi-perl libfcgi0ldbl libhtml-parser-perl
  libhtml-tagset-perl libhtml-template-perl libhttp-date-perl
  libhttp-message-perl libio-html-perl liblwp-mediatypes-perl libmecab2
  libprotobuf-lite23 liburi-perl mecab-ipadic mecab-ipadic-utf8 mecab-utils
  mysql-client-8.0 mysql-client-core-8.0 mysql-server-8.0
  mysql-server-core-8.0
Suggested packages:
  libdata-dump-perl libipc-sharedcache-perl libbusiness-isbn-perl libwww-perl
  mailx tinyca
The following NEW packages will be installed:
  libaio1 libcgi-fast-perl libcgi-pm-perl libclone-perl libencode-locale-perl
  libfcgi-bin libfcgi-perl libfcgi0ldbl libhtml-parser-perl
  libhtml-tagset-perl libhtml-template-perl libhttp-date-perl
  libhttp-message-perl libio-html-perl liblwp-mediatypes-perl libmecab2
  libprotobuf-lite23 liburi-perl mecab-ipadic mecab-ipadic-utf8 mecab-utils
  mysql-client-8.0 mysql-client-core-8.0 mysql-server mysql-server-8.0
  mysql-server-core-8.0
0 upgraded, 26 newly installed, 0 to remove and 51 not upgraded.
Need to get 29.7 MB of archives.
After this operation, 243 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-client-core-8.0 amd64 8.0.44-0ubuntu0.22.04.2 [2,707 kB]
Get:2 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-client-8.0 amd64 8.0.44-0ubuntu0.22.04.2 [22.6 kB]
Get:3 http://archive.ubuntu.com/ubuntu jammy/main amd64 libaio1 amd64 0.3.112-13build1 [7,176 B]
Get:4 http://archive.ubuntu.com/ubuntu jammy/main amd64 libmecab2 amd64 0.996-14build9 [199 kB]
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 libprotobuf-lite23 amd64 3.12.4-1ubuntu7.22.04.4 [209 kB]
Get:6 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server-core-8.0 amd64 8.0.44-0ubuntu0.22.04.2 [17.7 MB]
Get:7 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server-8.0 amd64 8.0.44-0ubuntu0.22.04.2 [1,449 kB]
Get:8 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-tagset-perl all 3.20-4 [12.5 kB]
Get:9 http://archive.ubuntu.com/ubuntu jammy/main amd64 liburi-perl all 5.10-1 [78.8 kB]
Get:10 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-parser-perl amd64 3.76-1build2 [88.4 kB]
Get:11 http://archive.ubuntu.com/ubuntu jammy/main amd64 libcgi-pm-perl all 4.54-1 [188 kB]
Get:12 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 libfcgi0ldbl amd64 2.4.2-2ubuntu0.1 [28.1 kB]
Get:13 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfcgi-perl amd64 0.82+ds-1build1 [22.8 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy/main amd64 libcgi-fast-perl all 1:2.15-1 [10.5 kB]
Get:15 http://archive.ubuntu.com/ubuntu jammy/main amd64 libclone-perl amd64 0.45-1build3 [11.0 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy/main amd64 libencode-locale-perl all 1.05-1.1 [11.8 kB]
Get:17 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 libfcgi-bin amd64 2.4.2-2ubuntu0.1 [11.1 kB]
Get:18 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-template-perl all 2.97-1.1 [59.1 kB]
Get:19 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhttp-date-perl all 6.05-1 [9,920 B]
Get:20 http://archive.ubuntu.com/ubuntu jammy/main amd64 libio-html-perl all 1.004-2 [15.4 kB]
Get:21 http://archive.ubuntu.com/ubuntu jammy/main amd64 liblwp-mediatypes-perl all 6.04-1 [19.5 kB]
Get:22 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhttp-message-perl all 6.36-1 [76.8 kB]
Get:23 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-utils amd64 0.996-14build9 [4,850 B]
Get:24 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-ipadic all 2.7.0-20070801+main-3 [6,718 kB]
Get:25 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-ipadic-utf8 all 2.7.0-20070801+main-3 [4,384 B]
Get:26 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server all 8.0.44-0ubuntu0.22.04.2 [9,460 B]
Fetched 29.7 MB in 2s (18.6 MB/s)
Preconfiguring packages ...
Selecting previously unselected package mysql-client-core-8.0.
(Reading database ... 117528 files and directories currently installed.)
Preparing to unpack .../00-mysql-client-core-8.0_8.0.44-0ubuntu0.22.04.2_amd64.deb ...
Unpacking mysql-client-core-8.0 (8.0.44-0ubuntu0.22.04.2) ...
Selecting previously unselected package mysql-client-8.0.
Preparing to unpack .../01-mysql-client-8.0_8.0.44-0ubuntu0.22.04.2_amd64.deb ...
Unpacking mysql-client-8.0 (8.0.44-0ubuntu0.22.04.2) ...
Selecting previously unselected package libaio1:amd64.
Preparing to unpack .../02-libaio1_0.3.112-13build1_amd64.deb ...
Unpacking libaio1:amd64 (0.3.112-13build1) ...
Selecting previously unselected package libmecab2:amd64.
Preparing to unpack .../03-libmecab2_0.996-14build9_amd64.deb ...
Unpacking libmecab2:amd64 (0.996-14build9) ...
Selecting previously unselected package libprotobuf-lite23:amd64.
Preparing to unpack .../04-libprotobuf-lite23_3.12.4-1ubuntu7.22.04.4_amd64.deb ...
Unpacking libprotobuf-lite23:amd64 (3.12.4-1ubuntu7.22.04.4) ...
Selecting previously unselected package mysql-server-core-8.0.
Preparing to unpack .../05-mysql-server-core-8.0_8.0.44-0ubuntu0.22.04.2_amd64.deb ...
Unpacking mysql-server-core-8.0 (8.0.44-0ubuntu0.22.04.2) ...
Selecting previously unselected package mysql-server-8.0.
Preparing to unpack .../06-mysql-server-8.0_8.0.44-0ubuntu0.22.04.2_amd64.deb ...
Unpacking mysql-server-8.0 (8.0.44-0ubuntu0.22.04.2) ...
Selecting previously unselected package libhtml-tagset-perl.
Preparing to unpack .../07-libhtml-tagset-perl_3.20-4_all.deb ...
Unpacking libhtml-tagset-perl (3.20-4) ...
Selecting previously unselected package liburi-perl.
Preparing to unpack .../08-liburi-perl_5.10-1_all.deb ...
Unpacking liburi-perl (5.10-1) ...
Selecting previously unselected package libhtml-parser-perl:amd64.
Preparing to unpack .../09-libhtml-parser-perl_3.76-1build2_amd64.deb ...
Unpacking libhtml-parser-perl:amd64 (3.76-1build2) ...
Selecting previously unselected package libcgi-pm-perl.
Preparing to unpack .../10-libcgi-pm-perl_4.54-1_all.deb ...
Unpacking libcgi-pm-perl (4.54-1) ...
Selecting previously unselected package libfcgi0ldbl:amd64.
Preparing to unpack .../11-libfcgi0ldbl_2.4.2-2ubuntu0.1_amd64.deb ...
Unpacking libfcgi0ldbl:amd64 (2.4.2-2ubuntu0.1) ...
Selecting previously unselected package libfcgi-perl:amd64.
Preparing to unpack .../12-libfcgi-perl_0.82+ds-1build1_amd64.deb ...
Unpacking libfcgi-perl:amd64 (0.82+ds-1build1) ...
Selecting previously unselected package libcgi-fast-perl.
Preparing to unpack .../13-libcgi-fast-perl_1%3a2.15-1_all.deb ...
Unpacking libcgi-fast-perl (1:2.15-1) ...
Selecting previously unselected package libclone-perl.
Preparing to unpack .../14-libclone-perl_0.45-1build3_amd64.deb ...
Unpacking libclone-perl (0.45-1build3) ...
Selecting previously unselected package libencode-locale-perl.
Preparing to unpack .../15-libencode-locale-perl_1.05-1.1_all.deb ...
Unpacking libencode-locale-perl (1.05-1.1) ...
Selecting previously unselected package libfcgi-bin.
Preparing to unpack .../16-libfcgi-bin_2.4.2-2ubuntu0.1_amd64.deb ...
Unpacking libfcgi-bin (2.4.2-2ubuntu0.1) ...
Selecting previously unselected package libhtml-template-perl.
Preparing to unpack .../17-libhtml-template-perl_2.97-1.1_all.deb ...
Unpacking libhtml-template-perl (2.97-1.1) ...
Selecting previously unselected package libhttp-date-perl.
Preparing to unpack .../18-libhttp-date-perl_6.05-1_all.deb ...
Unpacking libhttp-date-perl (6.05-1) ...
Selecting previously unselected package libio-html-perl.
Preparing to unpack .../19-libio-html-perl_1.004-2_all.deb ...
Unpacking libio-html-perl (1.004-2) ...
Selecting previously unselected package liblwp-mediatypes-perl.
Preparing to unpack .../20-liblwp-mediatypes-perl_6.04-1_all.deb ...
Unpacking liblwp-mediatypes-perl (6.04-1) ...
Selecting previously unselected package libhttp-message-perl.
Preparing to unpack .../21-libhttp-message-perl_6.36-1_all.deb ...
Unpacking libhttp-message-perl (6.36-1) ...
Selecting previously unselected package mecab-utils.
Preparing to unpack .../22-mecab-utils_0.996-14build9_amd64.deb ...
Unpacking mecab-utils (0.996-14build9) ...
Selecting previously unselected package mecab-ipadic.
Preparing to unpack .../23-mecab-ipadic_2.7.0-20070801+main-3_all.deb ...
Unpacking mecab-ipadic (2.7.0-20070801+main-3) ...
Selecting previously unselected package mecab-ipadic-utf8.
Preparing to unpack .../24-mecab-ipadic-utf8_2.7.0-20070801+main-3_all.deb ...
Unpacking mecab-ipadic-utf8 (2.7.0-20070801+main-3) ...
Selecting previously unselected package mysql-server.
Preparing to unpack .../25-mysql-server_8.0.44-0ubuntu0.22.04.2_all.deb ...
Unpacking mysql-server (8.0.44-0ubuntu0.22.04.2) ...
Setting up libhttp-date-perl (6.05-1) ...
Setting up libmecab2:amd64 (0.996-14build9) ...
Setting up mysql-client-core-8.0 (8.0.44-0ubuntu0.22.04.2) ...
Setting up libfcgi0ldbl:amd64 (2.4.2-2ubuntu0.1) ...
Setting up libclone-perl (0.45-1build3) ...
Setting up libhtml-tagset-perl (3.20-4) ...
Setting up liblwp-mediatypes-perl (6.04-1) ...
Setting up libfcgi-bin (2.4.2-2ubuntu0.1) ...
Setting up libencode-locale-perl (1.05-1.1) ...
Setting up libprotobuf-lite23:amd64 (3.12.4-1ubuntu7.22.04.4) ...
Setting up mecab-utils (0.996-14build9) ...
Setting up libio-html-perl (1.004-2) ...
Setting up mysql-client-8.0 (8.0.44-0ubuntu0.22.04.2) ...
Setting up libfcgi-perl:amd64 (0.82+ds-1build1) ...
Setting up libaio1:amd64 (0.3.112-13build1) ...
Setting up liburi-perl (5.10-1) ...
Setting up libhttp-message-perl (6.36-1) ...
Setting up mecab-ipadic (2.7.0-20070801+main-3) ...
Compiling IPA dictionary for Mecab.  This takes long time...
reading /usr/share/mecab/dic/ipadic/unk.def ... 40
emitting double-array: 100% |###########################################|
/usr/share/mecab/dic/ipadic/model.def is not found. skipped.
reading /usr/share/mecab/dic/ipadic/Noun.others.csv ... 151
reading /usr/share/mecab/dic/ipadic/Filler.csv ... 19
reading /usr/share/mecab/dic/ipadic/Postp-col.csv ... 91
reading /usr/share/mecab/dic/ipadic/Postp.csv ... 146
reading /usr/share/mecab/dic/ipadic/Noun.nai.csv ... 42
reading /usr/share/mecab/dic/ipadic/Symbol.csv ... 208
reading /usr/share/mecab/dic/ipadic/Noun.csv ... 60477
reading /usr/share/mecab/dic/ipadic/Others.csv ... 2
reading /usr/share/mecab/dic/ipadic/Noun.proper.csv ... 27328
reading /usr/share/mecab/dic/ipadic/Conjunction.csv ... 171
reading /usr/share/mecab/dic/ipadic/Noun.verbal.csv ... 12146
reading /usr/share/mecab/dic/ipadic/Noun.name.csv ... 34202
reading /usr/share/mecab/dic/ipadic/Auxil.csv ... 199
reading /usr/share/mecab/dic/ipadic/Adverb.csv ... 3032
reading /usr/share/mecab/dic/ipadic/Noun.number.csv ... 42
reading /usr/share/mecab/dic/ipadic/Noun.org.csv ... 16668
reading /usr/share/mecab/dic/ipadic/Noun.place.csv ... 72999
reading /usr/share/mecab/dic/ipadic/Noun.adverbal.csv ... 795
reading /usr/share/mecab/dic/ipadic/Suffix.csv ... 1393
reading /usr/share/mecab/dic/ipadic/Verb.csv ... 130750
reading /usr/share/mecab/dic/ipadic/Noun.adjv.csv ... 3328
reading /usr/share/mecab/dic/ipadic/Prefix.csv ... 221
reading /usr/share/mecab/dic/ipadic/Adj.csv ... 27210
reading /usr/share/mecab/dic/ipadic/Adnominal.csv ... 135
reading /usr/share/mecab/dic/ipadic/Interjection.csv ... 252
reading /usr/share/mecab/dic/ipadic/Noun.demonst.csv ... 120
emitting double-array: 100% |###########################################|
reading /usr/share/mecab/dic/ipadic/matrix.def ... 1316x1316
emitting matrix      : 100% |###########################################|

done!
update-alternatives: using /var/lib/mecab/dic/ipadic to provide /var/lib/mecab/dic/debian (mecab-dictionary) in auto mode
Setting up mysql-server-core-8.0 (8.0.44-0ubuntu0.22.04.2) ...
Setting up mecab-ipadic-utf8 (2.7.0-20070801+main-3) ...
Compiling IPA dictionary for Mecab.  This takes long time...
reading /usr/share/mecab/dic/ipadic/unk.def ... 40
emitting double-array: 100% |###########################################|
/usr/share/mecab/dic/ipadic/model.def is not found. skipped.
reading /usr/share/mecab/dic/ipadic/Noun.others.csv ... 151
reading /usr/share/mecab/dic/ipadic/Filler.csv ... 19
reading /usr/share/mecab/dic/ipadic/Postp-col.csv ... 91
reading /usr/share/mecab/dic/ipadic/Postp.csv ... 146
reading /usr/share/mecab/dic/ipadic/Noun.nai.csv ... 42
reading /usr/share/mecab/dic/ipadic/Symbol.csv ... 208
reading /usr/share/mecab/dic/ipadic/Noun.csv ... 60477
reading /usr/share/mecab/dic/ipadic/Others.csv ... 2
reading /usr/share/mecab/dic/ipadic/Noun.proper.csv ... 27328
reading /usr/share/mecab/dic/ipadic/Conjunction.csv ... 171
reading /usr/share/mecab/dic/ipadic/Noun.verbal.csv ... 12146
reading /usr/share/mecab/dic/ipadic/Noun.name.csv ... 34202
reading /usr/share/mecab/dic/ipadic/Auxil.csv ... 199
reading /usr/share/mecab/dic/ipadic/Adverb.csv ... 3032
reading /usr/share/mecab/dic/ipadic/Noun.number.csv ... 42
reading /usr/share/mecab/dic/ipadic/Noun.org.csv ... 16668
reading /usr/share/mecab/dic/ipadic/Noun.place.csv ... 72999
reading /usr/share/mecab/dic/ipadic/Noun.adverbal.csv ... 795
reading /usr/share/mecab/dic/ipadic/Suffix.csv ... 1393
reading /usr/share/mecab/dic/ipadic/Verb.csv ... 130750
reading /usr/share/mecab/dic/ipadic/Noun.adjv.csv ... 3328
reading /usr/share/mecab/dic/ipadic/Prefix.csv ... 221
reading /usr/share/mecab/dic/ipadic/Adj.csv ... 27210
reading /usr/share/mecab/dic/ipadic/Adnominal.csv ... 135
reading /usr/share/mecab/dic/ipadic/Interjection.csv ... 252
reading /usr/share/mecab/dic/ipadic/Noun.demonst.csv ... 120
emitting double-array: 100% |###########################################|
reading /usr/share/mecab/dic/ipadic/matrix.def ... 1316x1316
emitting matrix      : 100% |###########################################|

done!
update-alternatives: using /var/lib/mecab/dic/ipadic-utf8 to provide /var/lib/mecab/dic/debian (mecab-dictionary) in auto mode
Setting up libhtml-parser-perl:amd64 (3.76-1build2) ...
Setting up mysql-server-8.0 (8.0.44-0ubuntu0.22.04.2) ...
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of stop.
update-alternatives: using /etc/mysql/mysql.cnf to provide /etc/mysql/my.cnf (my.cnf) in auto mode
Renaming removed key_buffer and myisam-recover options (if present)
mysqld will log errors to /var/log/mysql/error.log
mysqld is running as pid 3158
Created symlink /etc/systemd/system/multi-user.target.wants/mysql.service → /lib/systemd/system/mysql.service.
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up libcgi-pm-perl (4.54-1) ...
Setting up libhtml-template-perl (2.97-1.1) ...
Setting up mysql-server (8.0.44-0ubuntu0.22.04.2) ...
Setting up libcgi-fast-perl (1:2.15-1) ...
Processing triggers for man-db (2.10.2-1) ...
Processing triggers for libc-bin (2.35-0ubuntu3.11) ...
/sbin/ldconfig.real: /usr/local/lib/libur_loader.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbb.so.12 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libhwloc.so.15 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_level_zero.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_0.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtcm.so.1 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtcm_debug.so.1 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_level_zero_v2.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_opencl.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libumf.so.1 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc_proxy.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_5.so.3 is not a symbolic link

 * Starting MySQL database server mysqld
su: warning: cannot change directory to /nonexistent: No such file or directory
   ...done.

In [2]:
# =====================================
# 2. INSTALL MYSQL CONNECTOR
# =====================================

!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.5.0-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (7.5 kB)
Downloading mysql_connector_python-9.5.0-cp312-cp312-manylinux_2_28_x86_64.whl (34.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.1/34.1 MB 57.4 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.5.0

In [3]:
# =====================================
# 3. SET MYSQL ROOT PASSWORD
# =====================================

!sudo mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'root';"

In [4]:
# =====================================
# 4. CONNECT PYTHON TO MYSQL
# =====================================

import mysql.connector
import random
from datetime import date, timedelta

db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root"
)

cur = db.cursor()

In [5]:
# =====================================
# 5. CREATE DATABASE
# =====================================

cur.execute("create database if not exists schema_demo")
cur.execute("use schema_demo")

In [6]:
# =====================================
# 6. CREATE TABLE (TABLES + FIELDS + CONSTRAINTS)
# =====================================

cur.execute("""
create table student (
    student_id int primary key,
    name varchar(100) not null,
    gender varchar(10),
    dob date,
    phone varchar(15) unique,
    city varchar(50)
)
""")

In [7]:
# =====================================
# 7. INDIAN NAME DATA
# =====================================

male_names = [
    "Amit","Rahul","Arjun","Rohit","Vikas","Suresh","Ankit","Kunal","Ravi","Aditya"
]

female_names = [
    "Neha","Pooja","Anjali","Kavya","Riya","Priya","Sneha","Aarti","Nisha","Isha"
]

surnames = [
    "Sharma","Verma","Gupta","Singh","Patel","Kumar","Mehta","Reddy","Iyer","Das"
]

cities = [
    "Delhi","Mumbai","Bengaluru","Chennai","Kolkata",
    "Hyderabad","Pune","Jaipur","Indore","Lucknow"
]

In [8]:
# =====================================
# 8. FUNCTION TO GENERATE RANDOM DOB
# =====================================

def random_dob():
    start = date(1990, 1, 1)
    end = date(2010, 12, 31)
    return start + timedelta(days=random.randint(0, (end - start).days))

In [9]:
# =====================================
# 9. INSERT 1000 INDIAN STUDENT RECORDS
# =====================================

students = []

for i in range(1, 1001):
    gender = random.choice(["Male", "Female"])

    if gender == "Male":
        fname = random.choice(male_names)
    else:
        fname = random.choice(female_names)

    full_name = fname + " " + random.choice(surnames)
    phone = "9" + str(random.randint(100000000, 999999999))
    city = random.choice(cities)
    dob = random_dob()

    students.append((i, full_name, gender, dob, phone, city))

cur.executemany(
    "insert into student values (%s,%s,%s,%s,%s,%s)",
    students
)

db.commit()

In [10]:
# =====================================
# 10. DISPLAY ALL TABLES
# =====================================

print("TABLES IN DATABASE:")
cur.execute("show tables")
for t in cur:
    print(t)

TABLES IN DATABASE:
('student',)

In [11]:
# =====================================
# 11. DISPLAY STRUCTURE (FIELDS)
# =====================================

print("\nSTUDENT TABLE STRUCTURE:")
cur.execute("desc student")
for r in cur:
    print(r)

STUDENT TABLE STRUCTURE:
('student_id', 'int', 'NO', 'PRI', None, '')
('name', 'varchar(100)', 'NO', '', None, '')
('gender', 'varchar(10)', 'YES', '', None, '')
('dob', 'date', 'YES', '', None, '')
('phone', 'varchar(15)', 'YES', 'UNI', None, '')
('city', 'varchar(50)', 'YES', '', None, '')

In [12]:
# =====================================
# 12. DISPLAY ALL 1000 RECORDS
# =====================================

print("\nDISPLAYING 1000 INDIAN STUDENT RECORDS:\n")
cur.execute("select * from student")

for row in cur:
    print(row)


print("\n✅ 1000 Indian records displayed successfully")

DISPLAYING 1000 INDIAN STUDENT RECORDS:

(1, 'Kavya Das', 'Female', datetime.date(2000, 2, 23), '9420343151', 'Indore')
(2, 'Kunal Verma', 'Male', datetime.date(2000, 5, 15), '9573426697', 'Bengaluru')
(3, 'Rahul Verma', 'Male', datetime.date(1996, 11, 2), '9319701580', 'Lucknow')
(4, 'Riya Iyer', 'Female', datetime.date(1994, 3, 6), '9867771274', 'Hyderabad')
(5, 'Nisha Singh', 'Female', datetime.date(1998, 1, 19), '9843899851', 'Chennai')
(6, 'Kunal Gupta', 'Male', datetime.date(2006, 1, 11), '9381394886', 'Chennai')
(7, 'Kunal Kumar', 'Male', datetime.date(2000, 2, 20), '9804539110', 'Lucknow')
(8, 'Amit Kumar', 'Male', datetime.date(2002, 2, 13), '9907798216', 'Pune')
(9, 'Neha Das', 'Female', datetime.date(1996, 8, 7), '9360810488', 'Lucknow')
(10, 'Neha Gupta', 'Female', datetime.date(2010, 7, 3), '9367123255', 'Chennai')
(11, 'Anjali Sharma', 'Female', datetime.date(1992, 4, 24), '9620894894', 'Jaipur')
(12, 'Ravi Singh', 'Male', datetime.date(2009, 9, 16), '9161278118', 'Kolkata')
(13, 'Rohit Singh', 'Male', datetime.date(2006, 11, 20), '9611957304', 'Kolkata')
(14, 'Priya Singh', 'Female', datetime.date(2000, 5, 9), '9116424065', 'Hyderabad')
(15, 'Isha Iyer', 'Female', datetime.date(2001, 12, 1), '9242723770', 'Jaipur')
(16, 'Nisha Iyer', 'Female', datetime.date(1995, 3, 19), '9360780231', 'Hyderabad')
(17, 'Riya Singh', 'Female', datetime.date(1994, 6, 18), '9356210205', 'Jaipur')
(18, 'Vikas Iyer', 'Male', datetime.date(1996, 2, 17), '9515154374', 'Lucknow')
(19, 'Isha Kumar', 'Female', datetime.date(2007, 3, 4), '9718953993', 'Mumbai')
(20, 'Suresh Singh', 'Male', datetime.date(2004, 8, 3), '9647880959', 'Hyderabad')
(21, 'Suresh Gupta', 'Male', datetime.date(2005, 4, 18), '9832349343', 'Lucknow')
(22, 'Rahul Kumar', 'Male', datetime.date(1993, 10, 28), '9618640172', 'Bengaluru')
(23, 'Rahul Das', 'Male', datetime.date(1991, 11, 29), '9215579799', 'Jaipur')
(24, 'Neha Iyer', 'Female', datetime.date(2000, 8, 18), '9593936442', 'Indore')
(25, 'Amit Kumar', 'Male', datetime.date(1995, 2, 9), '9811104489', 'Pune')
(26, 'Ankit Verma', 'Male', datetime.date(2002, 3, 28), '9858177873', 'Delhi')
(27, 'Ravi Sharma', 'Male', datetime.date(2010, 4, 20), '9608209944', 'Indore')
(28, 'Ankit Singh', 'Male', datetime.date(2002, 4, 29), '9733110724', 'Hyderabad')
(29, 'Riya Gupta', 'Female', datetime.date(2006, 12, 16), '9331835932', 'Pune')
(30, 'Isha Mehta', 'Female', datetime.date(2001, 5, 13), '9447794424', 'Indore')
(31, 'Isha Verma', 'Female', datetime.date(2000, 8, 23), '9736520635', 'Indore')
(32, 'Kavya Iyer', 'Female', datetime.date(1995, 2, 19), '9215944530', 'Mumbai')
(33, 'Aarti Iyer', 'Female', datetime.date(2004, 6, 13), '9194082907', 'Lucknow')
(34, 'Rohit Iyer', 'Male', datetime.date(2006, 8, 24), '9206447321', 'Kolkata')
(35, 'Ankit Singh', 'Male', datetime.date(1993, 2, 5), '9909276995', 'Hyderabad')
(36, 'Riya Kumar', 'Female', datetime.date(1997, 4, 14), '9342661293', 'Bengaluru')
(37, 'Ravi Singh', 'Male', datetime.date(1993, 4, 7), '9351055915', 'Jaipur')
(38, 'Rohit Verma', 'Male', datetime.date(1992, 5, 15), '9106195643', 'Jaipur')
(39, 'Vikas Sharma', 'Male', datetime.date(1992, 8, 21), '9992138648', 'Delhi')
(40, 'Arjun Gupta', 'Male', datetime.date(1998, 10, 18), '9428185793', 'Chennai')
(41, 'Kunal Iyer', 'Male', datetime.date(1999, 8, 16), '9481335838', 'Lucknow')
(42, 'Priya Sharma', 'Female', datetime.date(1993, 6, 4), '9479066921', 'Bengaluru')
(43, 'Riya Sharma', 'Female', datetime.date(2008, 12, 13), '9525544468', 'Chennai')
(44, 'Amit Gupta', 'Male', datetime.date(1995, 6, 6), '9746940176', 'Kolkata')
(45, 'Nisha Das', 'Female', datetime.date(1994, 6, 17), '9536408787', 'Lucknow')
(46, 'Kunal Singh', 'Male', datetime.date(2009, 10, 27), '9883398366', 'Indore')
(47, 'Rahul Mehta', 'Male', datetime.date(1990, 10, 25), '9286509710', 'Mumbai')
(48, 'Riya Gupta', 'Female', datetime.date(1996, 12, 14), '9318589515', 'Pune')
(49, 'Ankit Verma', 'Male', datetime.date(2009, 6, 10), '9971250347', 'Jaipur')
(50, 'Anjali Mehta', 'Female', datetime.date(1997, 6, 7), '9249834441', 'Hyderabad')
(51, 'Anjali Das', 'Female', datetime.date(2001, 7, 23), '9312020464', 'Hyderabad')
(52, 'Ravi Das', 'Male', datetime.date(1991, 6, 30), '9146453800', 'Hyderabad')
(53, 'Aarti Reddy', 'Female', datetime.date(1993, 6, 17), '9723959620', 'Mumbai')
(54, 'Rahul Mehta', 'Male', datetime.date(1996, 6, 3), '9581752721', 'Chennai')
(55, 'Nisha Reddy', 'Female', datetime.date(1991, 1, 20), '9633481832', 'Mumbai')
(56, 'Suresh Reddy', 'Male', datetime.date(2005, 9, 17), '9529418739', 'Delhi')
(57, 'Priya Singh', 'Female', datetime.date(1993, 11, 5), '9334156923', 'Mumbai')
(58, 'Anjali Gupta', 'Female', datetime.date(2005, 5, 17), '9312962458', 'Lucknow')
(59, 'Riya Singh', 'Female', datetime.date(1997, 2, 5), '9106950532', 'Hyderabad')
(60, 'Kunal Iyer', 'Male', datetime.date(2009, 9, 15), '9668499476', 'Chennai')
(61, 'Aditya Reddy', 'Male', datetime.date(1992, 4, 10), '9948918589', 'Chennai')
(62, 'Pooja Patel', 'Female', datetime.date(2006, 12, 26), '9329667635', 'Bengaluru')
(63, 'Nisha Sharma', 'Female', datetime.date(1999, 4, 5), '9713994047', 'Chennai')
(64, 'Anjali Reddy', 'Female', datetime.date(2010, 3, 17), '9859346038', 'Lucknow')
(65, 'Aditya Iyer', 'Male', datetime.date(2004, 10, 27), '9346438692', 'Jaipur')
(66, 'Kunal Mehta', 'Male', datetime.date(1998, 7, 28), '9205487058', 'Chennai')
(67, 'Sneha Das', 'Female', datetime.date(2005, 4, 14), '9266509233', 'Hyderabad')
(68, 'Kavya Gupta', 'Female', datetime.date(2008, 10, 28), '9991291678', 'Pune')
(69, 'Suresh Singh', 'Male', datetime.date(1996, 3, 22), '9937931079', 'Hyderabad')
(70, 'Suresh Singh', 'Male', datetime.date(2000, 4, 28), '9431593509', 'Mumbai')
(71, 'Aarti Singh', 'Female', datetime.date(2008, 2, 1), '9830691530', 'Indore')
(72, 'Priya Gupta', 'Female', datetime.date(1996, 4, 9), '9651284270', 'Pune')
(73, 'Rahul Das', 'Male', datetime.date(2001, 6, 14), '9936092140', 'Mumbai')
(74, 'Vikas Reddy', 'Male', datetime.date(1996, 3, 15), '9589482207', 'Hyderabad')
(75, 'Suresh Iyer', 'Male', datetime.date(2000, 2, 28), '9272314452', 'Jaipur')
(76, 'Amit Sharma', 'Male', datetime.date(1998, 12, 1), '9811680116', 'Delhi')
(77, 'Sneha Reddy', 'Female', datetime.date(1999, 8, 14), '9984392780', 'Lucknow')
(78, 'Kavya Singh', 'Female', datetime.date(2007, 7, 30), '9315690025', 'Pune')
(79, 'Anjali Singh', 'Female', datetime.date(1992, 2, 15), '9172316576', 'Lucknow')
(80, 'Kavya Singh', 'Female', datetime.date(2007, 10, 20), '9863813663', 'Jaipur')
(81, 'Riya Reddy', 'Female', datetime.date(2006, 7, 12), '9606867013', 'Hyderabad')
(82, 'Ravi Patel', 'Male', datetime.date(2003, 7, 5), '9456233526', 'Chennai')
(83, 'Kavya Verma', 'Female', datetime.date(1990, 4, 14), '9786482112', 'Kolkata')
(84, 'Rahul Verma', 'Male', datetime.date(1994, 10, 6), '9772979612', 'Chennai')
(85, 'Amit Iyer', 'Male', datetime.date(2004, 11, 18), '9880805452', 'Jaipur')
(86, 'Suresh Verma', 'Male', datetime.date(1990, 3, 19), '9423249495', 'Hyderabad')
(87, 'Ankit Das', 'Male', datetime.date(2001, 12, 21), '9685739815', 'Hyderabad')
(88, 'Aditya Singh', 'Male', datetime.date(2002, 8, 26), '9279129016', 'Pune')
(89, 'Rahul Iyer', 'Male', datetime.date(1999, 6, 26), '9505631491', 'Hyderabad')
(90, 'Aditya Singh', 'Male', datetime.date(2005, 7, 5), '9755685562', 'Bengaluru')
(91, 'Vikas Patel', 'Male', datetime.date(2005, 10, 13), '9564899897', 'Hyderabad')
(92, 'Arjun Reddy', 'Male', datetime.date(2006, 7, 25), '9203250078', 'Chennai')
(93, 'Isha Reddy', 'Female', datetime.date(2004, 12, 16), '9715907523', 'Lucknow')
(94, 'Vikas Mehta', 'Male', datetime.date(2006, 2, 15), '9455901308', 'Lucknow')
(95, 'Aditya Kumar', 'Male', datetime.date(1993, 11, 22), '9257218324', 'Kolkata')
(96, 'Vikas Sharma', 'Male', datetime.date(1998, 5, 4), '9172968711', 'Mumbai')
(97, 'Vikas Kumar', 'Male', datetime.date(1996, 12, 6), '9658996501', 'Hyderabad')
(98, 'Aditya Gupta', 'Male', datetime.date(2010, 2, 9), '9190792123', 'Bengaluru')
(99, 'Arjun Singh', 'Male', datetime.date(1997, 10, 6), '9158357915', 'Mumbai')
(100, 'Kavya Singh', 'Female', datetime.date(2006, 4, 6), '9905926615', 'Pune')
(101, 'Neha Reddy', 'Female', datetime.date(1992, 1, 31), '9122373561', 'Mumbai')
(102, 'Isha Das', 'Female', datetime.date(1997, 6, 23), '9880617547', 'Jaipur')
(103, 'Aarti Sharma', 'Female', datetime.date(2008, 4, 7), '9883351057', 'Delhi')
(104, 'Neha Singh', 'Female', datetime.date(1991, 8, 24), '9472215773', 'Lucknow')
(105, 'Aarti Gupta', 'Female', datetime.date(1996, 11, 20), '9465760626', 'Mumbai')
(106, 'Anjali Das', 'Female', datetime.date(2000, 2, 29), '9818343933', 'Delhi')
(107, 'Kavya Mehta', 'Female', datetime.date(1991, 12, 29), '9664746335', 'Mumbai')
(108, 'Suresh Reddy', 'Male', datetime.date(2002, 9, 19), '9106179172', 'Chennai')
(109, 'Riya Mehta', 'Female', datetime.date(1996, 1, 24), '9999536029', 'Bengaluru')
(110, 'Aarti Iyer', 'Female', datetime.date(1996, 12, 17), '9181097172', 'Mumbai')
(111, 'Sneha Patel', 'Female', datetime.date(1996, 6, 30), '9410643776', 'Lucknow')
(112, 'Amit Reddy', 'Male', datetime.date(2007, 8, 4), '9176078292', 'Kolkata')
(113, 'Vikas Singh', 'Male', datetime.date(2000, 12, 7), '9495900235', 'Delhi')
(114, 'Rahul Patel', 'Male', datetime.date(2008, 4, 24), '9585749202', 'Pune')
(115, 'Pooja Das', 'Female', datetime.date(1997, 9, 10), '9703825962', 'Kolkata')
(116, 'Suresh Das', 'Male', datetime.date(2000, 11, 26), '9440961809', 'Pune')
(117, 'Vikas Iyer', 'Male', datetime.date(2002, 4, 7), '9563810921', 'Pune')
(118, 'Aditya Kumar', 'Male', datetime.date(2005, 11, 2), '9841410929', 'Jaipur')
(119, 'Vikas Mehta', 'Male', datetime.date(1999, 10, 22), '9508685582', 'Pune')
(120, 'Rahul Patel', 'Male', datetime.date(2004, 7, 17), '9771942182', 'Pune')
(121, 'Rohit Patel', 'Male', datetime.date(1991, 4, 10), '9749705107', 'Indore')
(122, 'Sneha Das', 'Female', datetime.date(1995, 4, 7), '9165513735', 'Kolkata')
(123, 'Neha Mehta', 'Female', datetime.date(2009, 3, 19), '9569873805', 'Lucknow')
(124, 'Nisha Reddy', 'Female', datetime.date(1990, 11, 20), '9217654877', 'Pune')
(125, 'Anjali Reddy', 'Female', datetime.date(2001, 12, 14), '9218172762', 'Lucknow')
(126, 'Kunal Mehta', 'Male', datetime.date(1991, 4, 29), '9312367446', 'Pune')
(127, 'Ankit Mehta', 'Male', datetime.date(1994, 4, 22), '9159600649', 'Delhi')
(128, 'Riya Das', 'Female', datetime.date(1996, 9, 26), '9152871859', 'Hyderabad')
(129, 'Amit Iyer', 'Male', datetime.date(2000, 8, 1), '9427490803', 'Jaipur')
(130, 'Vikas Mehta', 'Male', datetime.date(2002, 1, 18), '9534998227', 'Kolkata')
(131, 'Sneha Mehta', 'Female', datetime.date(2002, 3, 13), '9298955469', 'Delhi')
(132, 'Kavya Singh', 'Female', datetime.date(1993, 4, 1), '9428225741', 'Pune')
(133, 'Arjun Patel', 'Male', datetime.date(2006, 3, 30), '9112281110', 'Bengaluru')
(134, 'Sneha Gupta', 'Female', datetime.date(1996, 7, 14), '9214274540', 'Hyderabad')
(135, 'Rahul Patel', 'Male', datetime.date(2009, 12, 31), '9973910108', 'Delhi')
(136, 'Nisha Das', 'Female', datetime.date(2003, 4, 8), '9279777345', 'Lucknow')
(137, 'Ankit Verma', 'Male', datetime.date(2008, 3, 19), '9219668210', 'Bengaluru')
(138, 'Priya Singh', 'Female', datetime.date(1991, 10, 19), '9718507775', 'Chennai')
(139, 'Pooja Reddy', 'Female', datetime.date(2009, 6, 8), '9648443385', 'Jaipur')
(140, 'Suresh Patel', 'Male', datetime.date(1998, 7, 11), '9828513081', 'Kolkata')
(141, 'Riya Patel', 'Female', datetime.date(2010, 10, 22), '9971507705', 'Mumbai')
(142, 'Ravi Reddy', 'Male', datetime.date(1996, 7, 5), '9554417510', 'Kolkata')
(143, 'Neha Kumar', 'Female', datetime.date(2006, 2, 6), '9342645856', 'Chennai')
(144, 'Aarti Iyer', 'Female', datetime.date(1997, 2, 6), '9796036942', 'Bengaluru')
(145, 'Arjun Das', 'Male', datetime.date(2002, 10, 14), '9440407477', 'Indore')
(146, 'Riya Das', 'Female', datetime.date(2003, 3, 17), '9337140887', 'Chennai')
(147, 'Pooja Reddy', 'Female', datetime.date(2005, 11, 4), '9888454782', 'Kolkata')
(148, 'Aarti Iyer', 'Female', datetime.date(2002, 7, 15), '9366454390', 'Jaipur')
(149, 'Vikas Sharma', 'Male', datetime.date(2004, 3, 21), '9432519384', 'Kolkata')
(150, 'Amit Verma', 'Male', datetime.date(1994, 4, 3), '9762491705', 'Hyderabad')
(151, 'Pooja Singh', 'Female', datetime.date(2002, 2, 4), '9492419321', 'Bengaluru')
(152, 'Isha Singh', 'Female', datetime.date(2000, 5, 31), '9690909975', 'Kolkata')
(153, 'Rohit Das', 'Male', datetime.date(1994, 7, 1), '9699824928', 'Mumbai')
(154, 'Ankit Mehta', 'Male', datetime.date(2000, 9, 3), '9506848819', 'Indore')
(155, 'Suresh Mehta', 'Male', datetime.date(2006, 1, 16), '9310315551', 'Lucknow')
(156, 'Priya Iyer', 'Female', datetime.date(1998, 1, 10), '9545604801', 'Delhi')
(157, 'Ravi Patel', 'Male', datetime.date(1998, 12, 7), '9107629446', 'Pune')
(158, 'Anjali Kumar', 'Female', datetime.date(2000, 10, 23), '9368450513', 'Indore')
(159, 'Ankit Mehta', 'Male', datetime.date(1996, 7, 13), '9222159304', 'Jaipur')
(160, 'Anjali Iyer', 'Female', datetime.date(2000, 9, 20), '9159608246', 'Mumbai')
(161, 'Neha Reddy', 'Female', datetime.date(2001, 6, 23), '9881219267', 'Kolkata')
(162, 'Aarti Gupta', 'Female', datetime.date(1997, 4, 16), '9149736696', 'Jaipur')
(163, 'Sneha Verma', 'Female', datetime.date(1997, 2, 27), '9462502643', 'Mumbai')
(164, 'Kunal Verma', 'Male', datetime.date(2006, 6, 19), '9534097075', 'Chennai')
(165, 'Vikas Mehta', 'Male', datetime.date(1999, 1, 10), '9571662896', 'Kolkata')
(166, 'Aditya Mehta', 'Male', datetime.date(2008, 7, 28), '9183910342', 'Bengaluru')
(167, 'Aditya Singh', 'Male', datetime.date(1999, 7, 10), '9675672246', 'Pune')
(168, 'Amit Singh', 'Male', datetime.date(1994, 8, 14), '9591428062', 'Jaipur')
(169, 'Rahul Reddy', 'Male', datetime.date(1993, 4, 19), '9519766376', 'Chennai')
(170, 'Neha Kumar', 'Female', datetime.date(2000, 4, 18), '9627393021', 'Jaipur')
(171, 'Vikas Singh', 'Male', datetime.date(2009, 4, 27), '9806690794', 'Hyderabad')
(172, 'Aarti Iyer', 'Female', datetime.date(2001, 5, 13), '9845512263', 'Kolkata')
(173, 'Pooja Reddy', 'Female', datetime.date(1991, 9, 14), '9233198845', 'Kolkata')
(174, 'Nisha Das', 'Female', datetime.date(2008, 1, 11), '9163458145', 'Indore')
(175, 'Nisha Singh', 'Female', datetime.date(2000, 6, 9), '9156662858', 'Chennai')
(176, 'Ankit Patel', 'Male', datetime.date(2008, 3, 27), '9936426509', 'Indore')
(177, 'Ravi Das', 'Male', datetime.date(2009, 5, 14), '9409279705', 'Lucknow')
(178, 'Sneha Kumar', 'Female', datetime.date(1997, 5, 28), '9564342178', 'Mumbai')
(179, 'Arjun Sharma', 'Male', datetime.date(1999, 11, 28), '9517567091', 'Pune')
(180, 'Riya Gupta', 'Female', datetime.date(1994, 1, 19), '9483072486', 'Bengaluru')
(181, 'Ankit Gupta', 'Male', datetime.date(2000, 10, 12), '9757003700', 'Jaipur')
(182, 'Vikas Reddy', 'Male', datetime.date(1993, 10, 25), '9819127291', 'Chennai')
(183, 'Rohit Iyer', 'Male', datetime.date(2004, 8, 14), '9372277697', 'Indore')
(184, 'Rahul Patel', 'Male', datetime.date(1994, 2, 1), '9303996218', 'Lucknow')
(185, 'Anjali Mehta', 'Female', datetime.date(1999, 1, 7), '9668883405', 'Chennai')
(186, 'Amit Sharma', 'Male', datetime.date(2001, 4, 14), '9713199407', 'Delhi')
(187, 'Isha Sharma', 'Female', datetime.date(2010, 1, 16), '9778345516', 'Mumbai')
(188, 'Ankit Mehta', 'Male', datetime.date(1993, 5, 20), '9730409998', 'Jaipur')
(189, 'Pooja Das', 'Female', datetime.date(2004, 6, 4), '9192808423', 'Indore')
(190, 'Aarti Patel', 'Female', datetime.date(1991, 7, 13), '9297818964', 'Chennai')
(191, 'Vikas Patel', 'Male', datetime.date(2010, 1, 24), '9804222240', 'Delhi')
(192, 'Vikas Patel', 'Male', datetime.date(2010, 7, 13), '9528478492', 'Indore')
(193, 'Vikas Verma', 'Male', datetime.date(1993, 8, 5), '9702005322', 'Lucknow')
(194, 'Kavya Reddy', 'Female', datetime.date(2004, 11, 6), '9749934179', 'Pune')
(195, 'Amit Gupta', 'Male', datetime.date(2003, 8, 28), '9523202689', 'Lucknow')
(196, 'Rohit Das', 'Male', datetime.date(2010, 8, 18), '9106424649', 'Mumbai')
(197, 'Vikas Singh', 'Male', datetime.date(2004, 3, 16), '9326686442', 'Jaipur')
(198, 'Sneha Iyer', 'Female', datetime.date(2002, 12, 13), '9835262151', 'Pune')
(199, 'Isha Verma', 'Female', datetime.date(1999, 8, 4), '9857347346', 'Jaipur')
(200, 'Kunal Patel', 'Male', datetime.date(2007, 9, 5), '9268527898', 'Bengaluru')
(201, 'Priya Sharma', 'Female', datetime.date(1993, 3, 11), '9848679266', 'Bengaluru')
(202, 'Amit Verma', 'Male', datetime.date(2004, 7, 10), '9435337998', 'Pune')
(203, 'Neha Verma', 'Female', datetime.date(2009, 11, 24), '9221690944', 'Mumbai')
(204, 'Kunal Singh', 'Male', datetime.date(1999, 3, 29), '9548103769', 'Pune')
(205, 'Kunal Das', 'Male', datetime.date(1991, 10, 21), '9401151765', 'Bengaluru')
(206, 'Rohit Kumar', 'Male', datetime.date(2002, 6, 30), '9808044628', 'Lucknow')
(207, 'Aditya Mehta', 'Male', datetime.date(2010, 2, 23), '9143203281', 'Jaipur')
(208, 'Amit Kumar', 'Male', datetime.date(2001, 7, 20), '9333305602', 'Delhi')
(209, 'Kavya Sharma', 'Female', datetime.date(1999, 9, 16), '9834670949', 'Pune')
(210, 'Isha Patel', 'Female', datetime.date(1990, 8, 26), '9481945741', 'Chennai')
(211, 'Nisha Gupta', 'Female', datetime.date(2002, 4, 26), '9782769373', 'Chennai')
(212, 'Neha Kumar', 'Female', datetime.date(1992, 11, 18), '9616550455', 'Indore')
(213, 'Kunal Mehta', 'Male', datetime.date(2002, 7, 12), '9379184382', 'Jaipur')
(214, 'Suresh Singh', 'Male', datetime.date(2005, 5, 19), '9387686228', 'Indore')
(215, 'Neha Sharma', 'Female', datetime.date(1994, 8, 24), '9870301182', 'Chennai')
(216, 'Riya Das', 'Female', datetime.date(1991, 4, 19), '9551014389', 'Indore')
(217, 'Aarti Gupta', 'Female', datetime.date(1990, 2, 19), '9973932011', 'Delhi')
(218, 'Ankit Sharma', 'Male', datetime.date(1992, 11, 9), '9472077285', 'Kolkata')
(219, 'Riya Das', 'Female', datetime.date(2008, 3, 19), '9121060863', 'Hyderabad')
(220, 'Kavya Patel', 'Female', datetime.date(1991, 9, 3), '9355160261', 'Mumbai')
(221, 'Aditya Reddy', 'Male', datetime.date(1993, 9, 26), '9453151361', 'Delhi')
(222, 'Rahul Verma', 'Male', datetime.date(2006, 7, 24), '9695620130', 'Lucknow')
(223, 'Kavya Das', 'Female', datetime.date(1990, 10, 11), '9270750921', 'Indore')
(224, 'Rahul Gupta', 'Male', datetime.date(1990, 8, 16), '9256777031', 'Mumbai')
(225, 'Aarti Sharma', 'Female', datetime.date(2006, 5, 1), '9634547021', 'Indore')
(226, 'Sneha Singh', 'Female', datetime.date(1995, 1, 20), '9926750842', 'Delhi')
(227, 'Rahul Gupta', 'Male', datetime.date(2006, 11, 9), '9343788992', 'Jaipur')
(228, 'Aarti Gupta', 'Female', datetime.date(1991, 7, 22), '9631338910', 'Chennai')
(229, 'Nisha Kumar', 'Female', datetime.date(2000, 10, 15), '9922532802', 'Delhi')
(230, 'Arjun Sharma', 'Male', datetime.date(1991, 4, 26), '9383902568', 'Hyderabad')
(231, 'Nisha Das', 'Female', datetime.date(1993, 5, 10), '9411423601', 'Jaipur')
(232, 'Arjun Das', 'Male', datetime.date(1990, 11, 20), '9409776939', 'Chennai')
(233, 'Amit Mehta', 'Male', datetime.date(2005, 8, 2), '9223632349', 'Delhi')
(234, 'Amit Kumar', 'Male', datetime.date(2005, 9, 15), '9995188721', 'Mumbai')
(235, 'Vikas Mehta', 'Male', datetime.date(2006, 8, 31), '9585222851', 'Indore')
(236, 'Ankit Kumar', 'Male', datetime.date(1997, 9, 21), '9388645916', 'Bengaluru')
(237, 'Nisha Gupta', 'Female', datetime.date(1998, 7, 26), '9432330556', 'Indore')
(238, 'Pooja Singh', 'Female', datetime.date(1992, 11, 15), '9419139397', 'Pune')
(239, 'Aarti Sharma', 'Female', datetime.date(1994, 7, 21), '9560017667', 'Chennai')
(240, 'Rohit Gupta', 'Male', datetime.date(2009, 6, 19), '9301332048', 'Jaipur')
(241, 'Sneha Das', 'Female', datetime.date(2004, 1, 22), '9637239287', 'Pune')
(242, 'Suresh Gupta', 'Male', datetime.date(1999, 4, 5), '9455206943', 'Pune')
(243, 'Arjun Reddy', 'Male', datetime.date(2001, 9, 28), '9657640079', 'Pune')
(244, 'Priya Das', 'Female', datetime.date(2000, 4, 7), '9777735874', 'Chennai')

In [13]:
import mysql.connector

db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database="schema_demo"
)

cur = db.cursor()

cur.execute("select * from student limit 1000")

for row in cur:
    print(row)

(1, 'Kavya Das', 'Female', datetime.date(2000, 2, 23), '9420343151', 'Indore')
(2, 'Kunal Verma', 'Male', datetime.date(2000, 5, 15), '9573426697', 'Bengaluru')
(3, 'Rahul Verma', 'Male', datetime.date(1996, 11, 2), '9319701580', 'Lucknow')
(4, 'Riya Iyer', 'Female', datetime.date(1994, 3, 6), '9867771274', 'Hyderabad')
(5, 'Nisha Singh', 'Female', datetime.date(1998, 1, 19), '9843899851', 'Chennai')
(6, 'Kunal Gupta', 'Male', datetime.date(2006, 1, 11), '9381394886', 'Chennai')
(7, 'Kunal Kumar', 'Male', datetime.date(2000, 2, 20), '9804539110', 'Lucknow')
(8, 'Amit Kumar', 'Male', datetime.date(2002, 2, 13), '9907798216', 'Pune')
(9, 'Neha Das', 'Female', datetime.date(1996, 8, 7), '9360810488', 'Lucknow')
(10, 'Neha Gupta', 'Female', datetime.date(2010, 7, 3), '9367123255', 'Chennai')
(11, 'Anjali Sharma', 'Female', datetime.date(1992, 4, 24), '9620894894', 'Jaipur')
(12, 'Ravi Singh', 'Male', datetime.date(2009, 9, 16), '9161278118', 'Kolkata')
(13, 'Rohit Singh', 'Male', datetime.date(2006, 11, 20), '9611957304', 'Kolkata')
(14, 'Priya Singh', 'Female', datetime.date(2000, 5, 9), '9116424065', 'Hyderabad')
(15, 'Isha Iyer', 'Female', datetime.date(2001, 12, 1), '9242723770', 'Jaipur')
(16, 'Nisha Iyer', 'Female', datetime.date(1995, 3, 19), '9360780231', 'Hyderabad')
(17, 'Riya Singh', 'Female', datetime.date(1994, 6, 18), '9356210205', 'Jaipur')
(18, 'Vikas Iyer', 'Male', datetime.date(1996, 2, 17), '9515154374', 'Lucknow')
(19, 'Isha Kumar', 'Female', datetime.date(2007, 3, 4), '9718953993', 'Mumbai')
(20, 'Suresh Singh', 'Male', datetime.date(2004, 8, 3), '9647880959', 'Hyderabad')
(21, 'Suresh Gupta', 'Male', datetime.date(2005, 4, 18), '9832349343', 'Lucknow')
(22, 'Rahul Kumar', 'Male', datetime.date(1993, 10, 28), '9618640172', 'Bengaluru')
(23, 'Rahul Das', 'Male', datetime.date(1991, 11, 29), '9215579799', 'Jaipur')
(24, 'Neha Iyer', 'Female', datetime.date(2000, 8, 18), '9593936442', 'Indore')
(25, 'Amit Kumar', 'Male', datetime.date(1995, 2, 9), '9811104489', 'Pune')
(26, 'Ankit Verma', 'Male', datetime.date(2002, 3, 28), '9858177873', 'Delhi')
(27, 'Ravi Sharma', 'Male', datetime.date(2010, 4, 20), '9608209944', 'Indore')
(28, 'Ankit Singh', 'Male', datetime.date(2002, 4, 29), '9733110724', 'Hyderabad')
(29, 'Riya Gupta', 'Female', datetime.date(2006, 12, 16), '9331835932', 'Pune')
(30, 'Isha Mehta', 'Female', datetime.date(2001, 5, 13), '9447794424', 'Indore')
(31, 'Isha Verma', 'Female', datetime.date(2000, 8, 23), '9736520635', 'Indore')
(32, 'Kavya Iyer', 'Female', datetime.date(1995, 2, 19), '9215944530', 'Mumbai')
(33, 'Aarti Iyer', 'Female', datetime.date(2004, 6, 13), '9194082907', 'Lucknow')
(34, 'Rohit Iyer', 'Male', datetime.date(2006, 8, 24), '9206447321', 'Kolkata')
(35, 'Ankit Singh', 'Male', datetime.date(1993, 2, 5), '9909276995', 'Hyderabad')
(36, 'Riya Kumar', 'Female', datetime.date(1997, 4, 14), '9342661293', 'Bengaluru')
(37, 'Ravi Singh', 'Male', datetime.date(1993, 4, 7), '9351055915', 'Jaipur')
(38, 'Rohit Verma', 'Male', datetime.date(1992, 5, 15), '9106195643', 'Jaipur')
(39, 'Vikas Sharma', 'Male', datetime.date(1992, 8, 21), '9992138648', 'Delhi')
(40, 'Arjun Gupta', 'Male', datetime.date(1998, 10, 18), '9428185793', 'Chennai')
(41, 'Kunal Iyer', 'Male', datetime.date(1999, 8, 16), '9481335838', 'Lucknow')
(42, 'Priya Sharma', 'Female', datetime.date(1993, 6, 4), '9479066921', 'Bengaluru')
(43, 'Riya Sharma', 'Female', datetime.date(2008, 12, 13), '9525544468', 'Chennai')
(44, 'Amit Gupta', 'Male', datetime.date(1995, 6, 6), '9746940176', 'Kolkata')
(45, 'Nisha Das', 'Female', datetime.date(1994, 6, 17), '9536408787', 'Lucknow')
(46, 'Kunal Singh', 'Male', datetime.date(2009, 10, 27), '9883398366', 'Indore')
(47, 'Rahul Mehta', 'Male', datetime.date(1990, 10, 25), '9286509710', 'Mumbai')
(48, 'Riya Gupta', 'Female', datetime.date(1996, 12, 14), '9318589515', 'Pune')
(49, 'Ankit Verma', 'Male', datetime.date(2009, 6, 10), '9971250347', 'Jaipur')
(50, 'Anjali Mehta', 'Female', datetime.date(1997, 6, 7), '9249834441', 'Hyderabad')
(51, 'Anjali Das', 'Female', datetime.date(2001, 7, 23), '9312020464', 'Hyderabad')
(52, 'Ravi Das', 'Male', datetime.date(1991, 6, 30), '9146453800', 'Hyderabad')
(53, 'Aarti Reddy', 'Female', datetime.date(1993, 6, 17), '9723959620', 'Mumbai')
(54, 'Rahul Mehta', 'Male', datetime.date(1996, 6, 3), '9581752721', 'Chennai')
(55, 'Nisha Reddy', 'Female', datetime.date(1991, 1, 20), '9633481832', 'Mumbai')
(56, 'Suresh Reddy', 'Male', datetime.date(2005, 9, 17), '9529418739', 'Delhi')
(57, 'Priya Singh', 'Female', datetime.date(1993, 11, 5), '9334156923', 'Mumbai')
(58, 'Anjali Gupta', 'Female', datetime.date(2005, 5, 17), '9312962458', 'Lucknow')
(59, 'Riya Singh', 'Female', datetime.date(1997, 2, 5), '9106950532', 'Hyderabad')
(60, 'Kunal Iyer', 'Male', datetime.date(2009, 9, 15), '9668499476', 'Chennai')
(61, 'Aditya Reddy', 'Male', datetime.date(1992, 4, 10), '9948918589', 'Chennai')
(62, 'Pooja Patel', 'Female', datetime.date(2006, 12, 26), '9329667635', 'Bengaluru')
(63, 'Nisha Sharma', 'Female', datetime.date(1999, 4, 5), '9713994047', 'Chennai')
(64, 'Anjali Reddy', 'Female', datetime.date(2010, 3, 17), '9859346038', 'Lucknow')
(65, 'Aditya Iyer', 'Male', datetime.date(2004, 10, 27), '9346438692', 'Jaipur')
(66, 'Kunal Mehta', 'Male', datetime.date(1998, 7, 28), '9205487058', 'Chennai')
(67, 'Sneha Das', 'Female', datetime.date(2005, 4, 14), '9266509233', 'Hyderabad')
(68, 'Kavya Gupta', 'Female', datetime.date(2008, 10, 28), '9991291678', 'Pune')
(69, 'Suresh Singh', 'Male', datetime.date(1996, 3, 22), '9937931079', 'Hyderabad')
(70, 'Suresh Singh', 'Male', datetime.date(2000, 4, 28), '9431593509', 'Mumbai')
(71, 'Aarti Singh', 'Female', datetime.date(2008, 2, 1), '9830691530', 'Indore')
(72, 'Priya Gupta', 'Female', datetime.date(1996, 4, 9), '9651284270', 'Pune')
(73, 'Rahul Das', 'Male', datetime.date(2001, 6, 14), '9936092140', 'Mumbai')
(74, 'Vikas Reddy', 'Male', datetime.date(1996, 3, 15), '9589482207', 'Hyderabad')
(75, 'Suresh Iyer', 'Male', datetime.date(2000, 2, 28), '9272314452', 'Jaipur')
(76, 'Amit Sharma', 'Male', datetime.date(1998, 12, 1), '9811680116', 'Delhi')
(77, 'Sneha Reddy', 'Female', datetime.date(1999, 8, 14), '9984392780', 'Lucknow')
(78, 'Kavya Singh', 'Female', datetime.date(2007, 7, 30), '9315690025', 'Pune')
(79, 'Anjali Singh', 'Female', datetime.date(1992, 2, 15), '9172316576', 'Lucknow')
(80, 'Kavya Singh', 'Female', datetime.date(2007, 10, 20), '9863813663', 'Jaipur')
(81, 'Riya Reddy', 'Female', datetime.date(2006, 7, 12), '9606867013', 'Hyderabad')
(82, 'Ravi Patel', 'Male', datetime.date(2003, 7, 5), '9456233526', 'Chennai')
(83, 'Kavya Verma', 'Female', datetime.date(1990, 4, 14), '9786482112', 'Kolkata')
(84, 'Rahul Verma', 'Male', datetime.date(1994, 10, 6), '9772979612', 'Chennai')
(85, 'Amit Iyer', 'Male', datetime.date(2004, 11, 18), '9880805452', 'Jaipur')
(86, 'Suresh Verma', 'Male', datetime.date(1990, 3, 19), '9423249495', 'Hyderabad')
(87, 'Ankit Das', 'Male', datetime.date(2001, 12, 21), '9685739815', 'Hyderabad')
(88, 'Aditya Singh', 'Male', datetime.date(2002, 8, 26), '9279129016', 'Pune')
(89, 'Rahul Iyer', 'Male', datetime.date(1999, 6, 26), '9505631491', 'Hyderabad')
(90, 'Aditya Singh', 'Male', datetime.date(2005, 7, 5), '9755685562', 'Bengaluru')
(91, 'Vikas Patel', 'Male', datetime.date(2005, 10, 13), '9564899897', 'Hyderabad')
(92, 'Arjun Reddy', 'Male', datetime.date(2006, 7, 25), '9203250078', 'Chennai')
(93, 'Isha Reddy', 'Female', datetime.date(2004, 12, 16), '9715907523', 'Lucknow')
(94, 'Vikas Mehta', 'Male', datetime.date(2006, 2, 15), '9455901308', 'Lucknow')
(95, 'Aditya Kumar', 'Male', datetime.date(1993, 11, 22), '9257218324', 'Kolkata')
(96, 'Vikas Sharma', 'Male', datetime.date(1998, 5, 4), '9172968711', 'Mumbai')
(97, 'Vikas Kumar', 'Male', datetime.date(1996, 12, 6), '9658996501', 'Hyderabad')
(98, 'Aditya Gupta', 'Male', datetime.date(2010, 2, 9), '9190792123', 'Bengaluru')
(99, 'Arjun Singh', 'Male', datetime.date(1997, 10, 6), '9158357915', 'Mumbai')
(100, 'Kavya Singh', 'Female', datetime.date(2006, 4, 6), '9905926615', 'Pune')
(101, 'Neha Reddy', 'Female', datetime.date(1992, 1, 31), '9122373561', 'Mumbai')
(102, 'Isha Das', 'Female', datetime.date(1997, 6, 23), '9880617547', 'Jaipur')
(103, 'Aarti Sharma', 'Female', datetime.date(2008, 4, 7), '9883351057', 'Delhi')
(104, 'Neha Singh', 'Female', datetime.date(1991, 8, 24), '9472215773', 'Lucknow')
(105, 'Aarti Gupta', 'Female', datetime.date(1996, 11, 20), '9465760626', 'Mumbai')
(106, 'Anjali Das', 'Female', datetime.date(2000, 2, 29), '9818343933', 'Delhi')
(107, 'Kavya Mehta', 'Female', datetime.date(1991, 12, 29), '9664746335', 'Mumbai')
(108, 'Suresh Reddy', 'Male', datetime.date(2002, 9, 19), '9106179172', 'Chennai')
(109, 'Riya Mehta', 'Female', datetime.date(1996, 1, 24), '9999536029', 'Bengaluru')
(110, 'Aarti Iyer', 'Female', datetime.date(1996, 12, 17), '9181097172', 'Mumbai')
(111, 'Sneha Patel', 'Female', datetime.date(1996, 6, 30), '9410643776', 'Lucknow')
(112, 'Amit Reddy', 'Male', datetime.date(2007, 8, 4), '9176078292', 'Kolkata')
(113, 'Vikas Singh', 'Male', datetime.date(2000, 12, 7), '9495900235', 'Delhi')
(114, 'Rahul Patel', 'Male', datetime.date(2008, 4, 24), '9585749202', 'Pune')
(115, 'Pooja Das', 'Female', datetime.date(1997, 9, 10), '9703825962', 'Kolkata')
(116, 'Suresh Das', 'Male', datetime.date(2000, 11, 26), '9440961809', 'Pune')
(117, 'Vikas Iyer', 'Male', datetime.date(2002, 4, 7), '9563810921', 'Pune')
(118, 'Aditya Kumar', 'Male', datetime.date(2005, 11, 2), '9841410929', 'Jaipur')
(119, 'Vikas Mehta', 'Male', datetime.date(1999, 10, 22), '9508685582', 'Pune')
(120, 'Rahul Patel', 'Male', datetime.date(2004, 7, 17), '9771942182', 'Pune')
(121, 'Rohit Patel', 'Male', datetime.date(1991, 4, 10), '9749705107', 'Indore')
(122, 'Sneha Das', 'Female', datetime.date(1995, 4, 7), '9165513735', 'Kolkata')
(123, 'Neha Mehta', 'Female', datetime.date(2009, 3, 19), '9569873805', 'Lucknow')
(124, 'Nisha Reddy', 'Female', datetime.date(1990, 11, 20), '9217654877', 'Pune')
(125, 'Anjali Reddy', 'Female', datetime.date(2001, 12, 14), '9218172762', 'Lucknow')
(126, 'Kunal Mehta', 'Male', datetime.date(1991, 4, 29), '9312367446', 'Pune')
(127, 'Ankit Mehta', 'Male', datetime.date(1994, 4, 22), '9159600649', 'Delhi')
(128, 'Riya Das', 'Female', datetime.date(1996, 9, 26), '9152871859', 'Hyderabad')
(129, 'Amit Iyer', 'Male', datetime.date(2000, 8, 1), '9427490803', 'Jaipur')
(130, 'Vikas Mehta', 'Male', datetime.date(2002, 1, 18), '9534998227', 'Kolkata')
(131, 'Sneha Mehta', 'Female', datetime.date(2002, 3, 13), '9298955469', 'Delhi')
(132, 'Kavya Singh', 'Female', datetime.date(1993, 4, 1), '9428225741', 'Pune')
(133, 'Arjun Patel', 'Male', datetime.date(2006, 3, 30), '9112281110', 'Bengaluru')
(134, 'Sneha Gupta', 'Female', datetime.date(1996, 7, 14), '9214274540', 'Hyderabad')
(135, 'Rahul Patel', 'Male', datetime.date(2009, 12, 31), '9973910108', 'Delhi')
(136, 'Nisha Das', 'Female', datetime.date(2003, 4, 8), '9279777345', 'Lucknow')
(137, 'Ankit Verma', 'Male', datetime.date(2008, 3, 19), '9219668210', 'Bengaluru')
(138, 'Priya Singh', 'Female', datetime.date(1991, 10, 19), '9718507775', 'Chennai')
(139, 'Pooja Reddy', 'Female', datetime.date(2009, 6, 8), '9648443385', 'Jaipur')
(140, 'Suresh Patel', 'Male', datetime.date(1998, 7, 11), '9828513081', 'Kolkata')
(141, 'Riya Patel', 'Female', datetime.date(2010, 10, 22), '9971507705', 'Mumbai')
(142, 'Ravi Reddy', 'Male', datetime.date(1996, 7, 5), '9554417510', 'Kolkata')
(143, 'Neha Kumar', 'Female', datetime.date(2006, 2, 6), '9342645856', 'Chennai')
(144, 'Aarti Iyer', 'Female', datetime.date(1997, 2, 6), '9796036942', 'Bengaluru')
(145, 'Arjun Das', 'Male', datetime.date(2002, 10, 14), '9440407477', 'Indore')
(146, 'Riya Das', 'Female', datetime.date(2003, 3, 17), '9337140887', 'Chennai')
(147, 'Pooja Reddy', 'Female', datetime.date(2005, 11, 4), '9888454782', 'Kolkata')
(148, 'Aarti Iyer', 'Female', datetime.date(2002, 7, 15), '9366454390', 'Jaipur')
(149, 'Vikas Sharma', 'Male', datetime.date(2004, 3, 21), '9432519384', 'Kolkata')
(150, 'Amit Verma', 'Male', datetime.date(1994, 4, 3), '9762491705', 'Hyderabad')
(151, 'Pooja Singh', 'Female', datetime.date(2002, 2, 4), '9492419321', 'Bengaluru')
(152, 'Isha Singh', 'Female', datetime.date(2000, 5, 31), '9690909975', 'Kolkata')
(153, 'Rohit Das', 'Male', datetime.date(1994, 7, 1), '9699824928', 'Mumbai')
(154, 'Ankit Mehta', 'Male', datetime.date(2000, 9, 3), '9506848819', 'Indore')
(155, 'Suresh Mehta', 'Male', datetime.date(2006, 1, 16), '9310315551', 'Lucknow')
(156, 'Priya Iyer', 'Female', datetime.date(1998, 1, 10), '9545604801', 'Delhi')
(157, 'Ravi Patel', 'Male', datetime.date(1998, 12, 7), '9107629446', 'Pune')
(158, 'Anjali Kumar', 'Female', datetime.date(2000, 10, 23), '9368450513', 'Indore')
(159, 'Ankit Mehta', 'Male', datetime.date(1996, 7, 13), '9222159304', 'Jaipur')
(160, 'Anjali Iyer', 'Female', datetime.date(2000, 9, 20), '9159608246', 'Mumbai')
(161, 'Neha Reddy', 'Female', datetime.date(2001, 6, 23), '9881219267', 'Kolkata')
(162, 'Aarti Gupta', 'Female', datetime.date(1997, 4, 16), '9149736696', 'Jaipur')
(163, 'Sneha Verma', 'Female', datetime.date(1997, 2, 27), '9462502643', 'Mumbai')
(164, 'Kunal Verma', 'Male', datetime.date(2006, 6, 19), '9534097075', 'Chennai')
(165, 'Vikas Mehta', 'Male', datetime.date(1999, 1, 10), '9571662896', 'Kolkata')
(166, 'Aditya Mehta', 'Male', datetime.date(2008, 7, 28), '9183910342', 'Bengaluru')
(167, 'Aditya Singh', 'Male', datetime.date(1999, 7, 10), '9675672246', 'Pune')
(168, 'Amit Singh', 'Male', datetime.date(1994, 8, 14), '9591428062', 'Jaipur')
(169, 'Rahul Reddy', 'Male', datetime.date(1993, 4, 19), '9519766376', 'Chennai')
(170, 'Neha Kumar', 'Female', datetime.date(2000, 4, 18), '9627393021', 'Jaipur')
(171, 'Vikas Singh', 'Male', datetime.date(2009, 4, 27), '9806690794', 'Hyderabad')
(172, 'Aarti Iyer', 'Female', datetime.date(2001, 5, 13), '9845512263', 'Kolkata')
(173, 'Pooja Reddy', 'Female', datetime.date(1991, 9, 14), '9233198845', 'Kolkata')
(174, 'Nisha Das', 'Female', datetime.date(2008, 1, 11), '9163458145', 'Indore')
(175, 'Nisha Singh', 'Female', datetime.date(2000, 6, 9), '9156662858', 'Chennai')
(176, 'Ankit Patel', 'Male', datetime.date(2008, 3, 27), '9936426509', 'Indore')
(177, 'Ravi Das', 'Male', datetime.date(2009, 5, 14), '9409279705', 'Lucknow')
(178, 'Sneha Kumar', 'Female', datetime.date(1997, 5, 28), '9564342178', 'Mumbai')
(179, 'Arjun Sharma', 'Male', datetime.date(1999, 11, 28), '9517567091', 'Pune')
(180, 'Riya Gupta', 'Female', datetime.date(1994, 1, 19), '9483072486', 'Bengaluru')
(181, 'Ankit Gupta', 'Male', datetime.date(2000, 10, 12), '9757003700', 'Jaipur')
(182, 'Vikas Reddy', 'Male', datetime.date(1993, 10, 25), '9819127291', 'Chennai')
(183, 'Rohit Iyer', 'Male', datetime.date(2004, 8, 14), '9372277697', 'Indore')
(184, 'Rahul Patel', 'Male', datetime.date(1994, 2, 1), '9303996218', 'Lucknow')
(185, 'Anjali Mehta', 'Female', datetime.date(1999, 1, 7), '9668883405', 'Chennai')
(186, 'Amit Sharma', 'Male', datetime.date(2001, 4, 14), '9713199407', 'Delhi')
(187, 'Isha Sharma', 'Female', datetime.date(2010, 1, 16), '9778345516', 'Mumbai')
(188, 'Ankit Mehta', 'Male', datetime.date(1993, 5, 20), '9730409998', 'Jaipur')
(189, 'Pooja Das', 'Female', datetime.date(2004, 6, 4), '9192808423', 'Indore')
(190, 'Aarti Patel', 'Female', datetime.date(1991, 7, 13), '9297818964', 'Chennai')
(191, 'Vikas Patel', 'Male', datetime.date(2010, 1, 24), '9804222240', 'Delhi')
(192, 'Vikas Patel', 'Male', datetime.date(2010, 7, 13), '9528478492', 'Indore')
(193, 'Vikas Verma', 'Male', datetime.date(1993, 8, 5), '9702005322', 'Lucknow')
(194, 'Kavya Reddy', 'Female', datetime.date(2004, 11, 6), '9749934179', 'Pune')
(195, 'Amit Gupta', 'Male', datetime.date(2003, 8, 28), '9523202689', 'Lucknow')
(196, 'Rohit Das', 'Male', datetime.date(2010, 8, 18), '9106424649', 'Mumbai')
(197, 'Vikas Singh', 'Male', datetime.date(2004, 3, 16), '9326686442', 'Jaipur')
(198, 'Sneha Iyer', 'Female', datetime.date(2002, 12, 13), '9835262151', 'Pune')
(199, 'Isha Verma', 'Female', datetime.date(1999, 8, 4), '9857347346', 'Jaipur')
(200, 'Kunal Patel', 'Male', datetime.date(2007, 9, 5), '9268527898', 'Bengaluru')
(201, 'Priya Sharma', 'Female', datetime.date(1993, 3, 11), '9848679266', 'Bengaluru')
(202, 'Amit Verma', 'Male', datetime.date(2004, 7, 10), '9435337998', 'Pune')
(203, 'Neha Verma', 'Female', datetime.date(2009, 11, 24), '9221690944', 'Mumbai')
(204, 'Kunal Singh', 'Male', datetime.date(1999, 3, 29), '9548103769', 'Pune')
(205, 'Kunal Das', 'Male', datetime.date(1991, 10, 21), '9401151765', 'Bengaluru')
(206, 'Rohit Kumar', 'Male', datetime.date(2002, 6, 30), '9808044628', 'Lucknow')
(207, 'Aditya Mehta', 'Male', datetime.date(2010, 2, 23), '9143203281', 'Jaipur')
(208, 'Amit Kumar', 'Male', datetime.date(2001, 7, 20), '9333305602', 'Delhi')
(209, 'Kavya Sharma', 'Female', datetime.date(1999, 9, 16), '9834670949', 'Pune')
(210, 'Isha Patel', 'Female', datetime.date(1990, 8, 26), '9481945741', 'Chennai')
(211, 'Nisha Gupta', 'Female', datetime.date(2002, 4, 26), '9782769373', 'Chennai')
(212, 'Neha Kumar', 'Female', datetime.date(1992, 11, 18), '9616550455', 'Indore')
(213, 'Kunal Mehta', 'Male', datetime.date(2002, 7, 12), '9379184382', 'Jaipur')
(214, 'Suresh Singh', 'Male', datetime.date(2005, 5, 19), '9387686228', 'Indore')
(215, 'Neha Sharma', 'Female', datetime.date(1994, 8, 24), '9870301182', 'Chennai')
(216, 'Riya Das', 'Female', datetime.date(1991, 4, 19), '9551014389', 'Indore')
(217, 'Aarti Gupta', 'Female', datetime.date(1990, 2, 19), '9973932011', 'Delhi')
(218, 'Ankit Sharma', 'Male', datetime.date(1992, 11, 9), '9472077285', 'Kolkata')
(219, 'Riya Das', 'Female', datetime.date(2008, 3, 19), '9121060863', 'Hyderabad')
(220, 'Kavya Patel', 'Female', datetime.date(1991, 9, 3), '9355160261', 'Mumbai')
(221, 'Aditya Reddy', 'Male', datetime.date(1993, 9, 26), '9453151361', 'Delhi')
(222, 'Rahul Verma', 'Male', datetime.date(2006, 7, 24), '9695620130', 'Lucknow')
(223, 'Kavya Das', 'Female', datetime.date(1990, 10, 11), '9270750921', 'Indore')
(224, 'Rahul Gupta', 'Male', datetime.date(1990, 8, 16), '9256777031', 'Mumbai')
(225, 'Aarti Sharma', 'Female', datetime.date(2006, 5, 1), '9634547021', 'Indore')
(226, 'Sneha Singh', 'Female', datetime.date(1995, 1, 20), '9926750842', 'Delhi')
(227, 'Rahul Gupta', 'Male', datetime.date(2006, 11, 9), '9343788992', 'Jaipur')
(228, 'Aarti Gupta', 'Female', datetime.date(1991, 7, 22), '9631338910', 'Chennai')
(229, 'Nisha Kumar', 'Female', datetime.date(2000, 10, 15), '9922532802', 'Delhi')
(230, 'Arjun Sharma', 'Male', datetime.date(1991, 4, 26), '9383902568', 'Hyderabad')
(231, 'Nisha Das', 'Female', datetime.date(1993, 5, 10), '9411423601', 'Jaipur')
(232, 'Arjun Das', 'Male', datetime.date(1990, 11, 20), '9409776939', 'Chennai')
(233, 'Amit Mehta', 'Male', datetime.date(2005, 8, 2), '9223632349', 'Delhi')
(234, 'Amit Kumar', 'Male', datetime.date(2005, 9, 15), '9995188721', 'Mumbai')
(235, 'Vikas Mehta', 'Male', datetime.date(2006, 8, 31), '9585222851', 'Indore')
(236, 'Ankit Kumar', 'Male', datetime.date(1997, 9, 21), '9388645916', 'Bengaluru')
(237, 'Nisha Gupta', 'Female', datetime.date(1998, 7, 26), '9432330556', 'Indore')
(238, 'Pooja Singh', 'Female', datetime.date(1992, 11, 15), '9419139397', 'Pune')
(239, 'Aarti Sharma', 'Female', datetime.date(1994, 7, 21), '9560017667', 'Chennai')
(240, 'Rohit Gupta', 'Male', datetime.date(2009, 6, 19), '9301332048', 'Jaipur')
(241, 'Sneha Das', 'Female', datetime.date(2004, 1, 22), '9637239287', 'Pune')
(242, 'Suresh Gupta', 'Male', datetime.date(1999, 4, 5), '9455206943', 'Pune')
(243, 'Arjun Reddy', 'Male', datetime.date(2001, 9, 28), '9657640079', 'Pune')
(244, 'Priya Das', 'Female', datetime.date(2000, 4, 7), '9777735874', 'Chennai')
(245, 'Arjun Iyer', 'Male', datetime.date(1999, 8, 30), '9834642769', 'Delhi')

In [14]:
import mysql.connector
import pandas as pd

# connect to mysql
db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database="schema_demo"
)

# read 100 records into dataframe
df = pd.read_sql("select * from student limit 1000", db)

# save as csv
df.to_csv("student_1000_records.csv", index=False)

print("CSV file created: student_100_records.csv")

CSV file created: student_100_records.csv

/tmp/ipython-input-4114938564.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("select * from student limit 1000", db)

In [18]:
!apt-get install graphviz
!pip install graphviz

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
graphviz is already the newest version (2.42.2-6ubuntu0.1).
0 upgraded, 0 newly installed, 0 to remove and 51 not upgraded.
Requirement already satisfied: graphviz in /usr/local/lib/python3.12/dist-packages (0.21)

In [19]:
from graphviz import Digraph

erd = Digraph("ERD", format="png")
erd.attr(rankdir="LR", bgcolor="#EFE6FF")

# =======================
# CONCEPTUAL ERD
# =======================
with erd.subgraph(name="cluster_conceptual") as c:
    c.attr(label="Conceptual ERD", style="filled", color="#D6C8FF")
    c.node("Student_C", "STUDENT", shape="rectangle", style="filled", fillcolor="#6EC6C6")

# =======================
# LOGICAL ERD
# =======================
with erd.subgraph(name="cluster_logical") as l:
    l.attr(label="Logical ERD", style="filled", color="#D6C8FF")

    l.node(
        "Student_L",
        "STUDENT",
        shape="rectangle",
        style="filled",
        fillcolor="#6EC6C6"
    )

    # Attributes
    l.node("student_id", "student_id", shape="ellipse")
    l.node("name", "name", shape="ellipse")
    l.node("gender", "gender", shape="ellipse")
    l.node("dob", "dob", shape="ellipse")
    l.node("phone", "phone", shape="ellipse")
    l.node("city", "city", shape="ellipse")

    # Connections
    l.edge("Student_L", "student_id")
    l.edge("Student_L", "name")
    l.edge("Student_L", "gender")
    l.edge("Student_L", "dob")
    l.edge("Student_L", "phone")
    l.edge("Student_L", "city")

# =======================
# PHYSICAL ERD
# =======================
with erd.subgraph(name="cluster_physical") as p:
    p.attr(label="Physical ERD", style="filled", color="#D6C8FF")

    p.node(
        "Student_P",
        '''<
        <TABLE BORDER="1" CELLBORDER="1" CELLSPACING="0">
            <TR><TD BGCOLOR="#6EC6C6"><B>student</B></TD></TR>
            <TR><TD>student_id INT PRIMARY KEY</TD></TR>
            <TR><TD>name VARCHAR(100) NOT NULL</TD></TR>
            <TR><TD>gender VARCHAR(10)</TD></TR>
            <TR><TD>dob DATE</TD></TR>
            <TR><TD>phone VARCHAR(15) UNIQUE</TD></TR>
            <TR><TD>city VARCHAR(50)</TD></TR>
        </TABLE>
        >'''
    )

erd