<a href="https://colab.research.google.com/github/Leorasaharia/hospital-schema/blob/main/database_schema_demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# =====================================
# 1. INSTALL & START MYSQL
# =====================================

!apt-get update
!apt-get install -y mysql-server
!service mysql start

Get:1 https://cli.github.com/packages stable InRelease [3,917 B]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,632 B]
Get:3 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Hit:4 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:5 https://r2u.stat.illinois.edu/ubuntu jammy InRelease [6,555 B]
Get:6 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Get:7 https://cli.github.com/packages stable/main amd64 Packages [354 B]
Get:8 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease [18.1 kB]
Hit:9 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:10 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [127 kB]
Get:11 https://r2u.stat.illinois.edu/ubuntu jammy/main amd64 Packages [2,870 kB]
Get:12 https://r2u.stat.illinois.edu/ubuntu jammy/main all Packages [9,623 kB]
Get:13 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,289 kB]
Get:14 http://security.ubuntu.com/ubuntu jammy-security/restricted amd64 Packages [6,205 kB]
Get:15 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy/main amd64 Packages [38.5 kB]
Get:16 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [3,637 kB]
Get:17 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [6,411 kB]
Get:18 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,600 kB]
Get:19 http://archive.ubuntu.com/ubuntu jammy-updates/multiverse amd64 Packages [69.2 kB]
Get:20 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [3,968 kB]
Get:21 http://archive.ubuntu.com/ubuntu jammy-backports/main amd64 Packages [83.9 kB]
Get:22 http://archive.ubuntu.com/ubuntu jammy-backports/universe amd64 Packages [37.2 kB]
Fetched 36.2 MB in 7s (5,065 kB/s)
Reading package lists... Done
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  libaio1 libcgi-fast-perl libcgi-pm-perl libclone-perl libencode-locale-perl
  libfcgi-bin libfcgi-perl libfcgi0ldbl libhtml-parser-perl
  libhtml-tagset-perl libhtml-template-perl libhttp-date-perl
  libhttp-message-perl libio-html-perl liblwp-mediatypes-perl libmecab2
  libprotobuf-lite23 liburi-perl mecab-ipadic mecab-ipadic-utf8 mecab-utils
  mysql-client-8.0 mysql-client-core-8.0 mysql-server-8.0
  mysql-server-core-8.0
Suggested packages:
  libdata-dump-perl libipc-sharedcache-perl libbusiness-isbn-perl libwww-perl
  mailx tinyca
The following NEW packages will be installed:
  libaio1 libcgi-fast-perl libcgi-pm-perl libclone-perl libencode-locale-perl
  libfcgi-bin libfcgi-perl libfcgi0ldbl libhtml-parser-perl
  libhtml-tagset-perl libhtml-template-perl libhttp-date-perl
  libhttp-message-perl libio-html-perl liblwp-mediatypes-perl libmecab2
  libprotobuf-lite23 liburi-perl mecab-ipadic mecab-ipadic-utf8 mecab-utils
  mysql-client-8.0 mysql-client-core-8.0 mysql-server mysql-server-8.0
  mysql-server-core-8.0
0 upgraded, 26 newly installed, 0 to remove and 51 not upgraded.
Need to get 29.7 MB of archives.
After this operation, 243 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-client-core-8.0 amd64 8.0.44-0ubuntu0.22.04.2 [2,707 kB]
Get:2 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-client-8.0 amd64 8.0.44-0ubuntu0.22.04.2 [22.6 kB]
Get:3 http://archive.ubuntu.com/ubuntu jammy/main amd64 libaio1 amd64 0.3.112-13build1 [7,176 B]
Get:4 http://archive.ubuntu.com/ubuntu jammy/main amd64 libmecab2 amd64 0.996-14build9 [199 kB]
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 libprotobuf-lite23 amd64 3.12.4-1ubuntu7.22.04.4 [209 kB]
Get:6 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server-core-8.0 amd64 8.0.44-0ubuntu0.22.04.2 [17.7 MB]
Get:7 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server-8.0 amd64 8.0.44-0ubuntu0.22.04.2 [1,449 kB]
Get:8 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-tagset-perl all 3.20-4 [12.5 kB]
Get:9 http://archive.ubuntu.com/ubuntu jammy/main amd64 liburi-perl all 5.10-1 [78.8 kB]
Get:10 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-parser-perl amd64 3.76-1build2 [88.4 kB]
Get:11 http://archive.ubuntu.com/ubuntu jammy/main amd64 libcgi-pm-perl all 4.54-1 [188 kB]
Get:12 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 libfcgi0ldbl amd64 2.4.2-2ubuntu0.1 [28.1 kB]
Get:13 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfcgi-perl amd64 0.82+ds-1build1 [22.8 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy/main amd64 libcgi-fast-perl all 1:2.15-1 [10.5 kB]
Get:15 http://archive.ubuntu.com/ubuntu jammy/main amd64 libclone-perl amd64 0.45-1build3 [11.0 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy/main amd64 libencode-locale-perl all 1.05-1.1 [11.8 kB]
Get:17 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 libfcgi-bin amd64 2.4.2-2ubuntu0.1 [11.1 kB]
Get:18 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-template-perl all 2.97-1.1 [59.1 kB]
Get:19 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhttp-date-perl all 6.05-1 [9,920 B]
Get:20 http://archive.ubuntu.com/ubuntu jammy/main amd64 libio-html-perl all 1.004-2 [15.4 kB]
Get:21 http://archive.ubuntu.com/ubuntu jammy/main amd64 liblwp-mediatypes-perl all 6.04-1 [19.5 kB]
Get:22 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhttp-message-perl all 6.36-1 [76.8 kB]
Get:23 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-utils amd64 0.996-14build9 [4,850 B]
Get:24 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-ipadic all 2.7.0-20070801+main-3 [6,718 kB]
Get:25 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-ipadic-utf8 all 2.7.0-20070801+main-3 [4,384 B]
Get:26 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server all 8.0.44-0ubuntu0.22.04.2 [9,460 B]
Fetched 29.7 MB in 2s (19.5 MB/s)
Preconfiguring packages ...
Selecting previously unselected package mysql-client-core-8.0.
(Reading database ... 117528 files and directories currently installed.)
Preparing to unpack .../00-mysql-client-core-8.0_8.0.44-0ubuntu0.22.04.2_amd64.deb ...
Unpacking mysql-client-core-8.0 (8.0.44-0ubuntu0.22.04.2) ...
Selecting previously unselected package mysql-client-8.0.
Preparing to unpack .../01-mysql-client-8.0_8.0.44-0ubuntu0.22.04.2_amd64.deb ...
Unpacking mysql-client-8.0 (8.0.44-0ubuntu0.22.04.2) ...
Selecting previously unselected package libaio1:amd64.
Preparing to unpack .../02-libaio1_0.3.112-13build1_amd64.deb ...
Unpacking libaio1:amd64 (0.3.112-13build1) ...
Selecting previously unselected package libmecab2:amd64.
Preparing to unpack .../03-libmecab2_0.996-14build9_amd64.deb ...
Unpacking libmecab2:amd64 (0.996-14build9) ...
Selecting previously unselected package libprotobuf-lite23:amd64.
Preparing to unpack .../04-libprotobuf-lite23_3.12.4-1ubuntu7.22.04.4_amd64.deb ...
Unpacking libprotobuf-lite23:amd64 (3.12.4-1ubuntu7.22.04.4) ...
Selecting previously unselected package mysql-server-core-8.0.
Preparing to unpack .../05-mysql-server-core-8.0_8.0.44-0ubuntu0.22.04.2_amd64.deb ...
Unpacking mysql-server-core-8.0 (8.0.44-0ubuntu0.22.04.2) ...
Selecting previously unselected package mysql-server-8.0.
Preparing to unpack .../06-mysql-server-8.0_8.0.44-0ubuntu0.22.04.2_amd64.deb ...
Unpacking mysql-server-8.0 (8.0.44-0ubuntu0.22.04.2) ...
Selecting previously unselected package libhtml-tagset-perl.
Preparing to unpack .../07-libhtml-tagset-perl_3.20-4_all.deb ...
Unpacking libhtml-tagset-perl (3.20-4) ...
Selecting previously unselected package liburi-perl.
Preparing to unpack .../08-liburi-perl_5.10-1_all.deb ...
Unpacking liburi-perl (5.10-1) ...
Selecting previously unselected package libhtml-parser-perl:amd64.
Preparing to unpack .../09-libhtml-parser-perl_3.76-1build2_amd64.deb ...
Unpacking libhtml-parser-perl:amd64 (3.76-1build2) ...
Selecting previously unselected package libcgi-pm-perl.
Preparing to unpack .../10-libcgi-pm-perl_4.54-1_all.deb ...
Unpacking libcgi-pm-perl (4.54-1) ...
Selecting previously unselected package libfcgi0ldbl:amd64.
Preparing to unpack .../11-libfcgi0ldbl_2.4.2-2ubuntu0.1_amd64.deb ...
Unpacking libfcgi0ldbl:amd64 (2.4.2-2ubuntu0.1) ...
Selecting previously unselected package libfcgi-perl:amd64.
Preparing to unpack .../12-libfcgi-perl_0.82+ds-1build1_amd64.deb ...
Unpacking libfcgi-perl:amd64 (0.82+ds-1build1) ...
Selecting previously unselected package libcgi-fast-perl.
Preparing to unpack .../13-libcgi-fast-perl_1%3a2.15-1_all.deb ...
Unpacking libcgi-fast-perl (1:2.15-1) ...
Selecting previously unselected package libclone-perl.
Preparing to unpack .../14-libclone-perl_0.45-1build3_amd64.deb ...
Unpacking libclone-perl (0.45-1build3) ...
Selecting previously unselected package libencode-locale-perl.
Preparing to unpack .../15-libencode-locale-perl_1.05-1.1_all.deb ...
Unpacking libencode-locale-perl (1.05-1.1) ...
Selecting previously unselected package libfcgi-bin.
Preparing to unpack .../16-libfcgi-bin_2.4.2-2ubuntu0.1_amd64.deb ...
Unpacking libfcgi-bin (2.4.2-2ubuntu0.1) ...
Selecting previously unselected package libhtml-template-perl.
Preparing to unpack .../17-libhtml-template-perl_2.97-1.1_all.deb ...
Unpacking libhtml-template-perl (2.97-1.1) ...
Selecting previously unselected package libhttp-date-perl.
Preparing to unpack .../18-libhttp-date-perl_6.05-1_all.deb ...
Unpacking libhttp-date-perl (6.05-1) ...
Selecting previously unselected package libio-html-perl.
Preparing to unpack .../19-libio-html-perl_1.004-2_all.deb ...
Unpacking libio-html-perl (1.004-2) ...
Selecting previously unselected package liblwp-mediatypes-perl.
Preparing to unpack .../20-liblwp-mediatypes-perl_6.04-1_all.deb ...
Unpacking liblwp-mediatypes-perl (6.04-1) ...
Selecting previously unselected package libhttp-message-perl.
Preparing to unpack .../21-libhttp-message-perl_6.36-1_all.deb ...
Unpacking libhttp-message-perl (6.36-1) ...
Selecting previously unselected package mecab-utils.
Preparing to unpack .../22-mecab-utils_0.996-14build9_amd64.deb ...
Unpacking mecab-utils (0.996-14build9) ...
Selecting previously unselected package mecab-ipadic.
Preparing to unpack .../23-mecab-ipadic_2.7.0-20070801+main-3_all.deb ...
Unpacking mecab-ipadic (2.7.0-20070801+main-3) ...
Selecting previously unselected package mecab-ipadic-utf8.
Preparing to unpack .../24-mecab-ipadic-utf8_2.7.0-20070801+main-3_all.deb ...
Unpacking mecab-ipadic-utf8 (2.7.0-20070801+main-3) ...
Selecting previously unselected package mysql-server.
Preparing to unpack .../25-mysql-server_8.0.44-0ubuntu0.22.04.2_all.deb ...
Unpacking mysql-server (8.0.44-0ubuntu0.22.04.2) ...
Setting up libhttp-date-perl (6.05-1) ...
Setting up libmecab2:amd64 (0.996-14build9) ...
Setting up mysql-client-core-8.0 (8.0.44-0ubuntu0.22.04.2) ...
Setting up libfcgi0ldbl:amd64 (2.4.2-2ubuntu0.1) ...
Setting up libclone-perl (0.45-1build3) ...
Setting up libhtml-tagset-perl (3.20-4) ...
Setting up liblwp-mediatypes-perl (6.04-1) ...
Setting up libfcgi-bin (2.4.2-2ubuntu0.1) ...
Setting up libencode-locale-perl (1.05-1.1) ...
Setting up libprotobuf-lite23:amd64 (3.12.4-1ubuntu7.22.04.4) ...
Setting up mecab-utils (0.996-14build9) ...
Setting up libio-html-perl (1.004-2) ...
Setting up mysql-client-8.0 (8.0.44-0ubuntu0.22.04.2) ...
Setting up libfcgi-perl:amd64 (0.82+ds-1build1) ...
Setting up libaio1:amd64 (0.3.112-13build1) ...
Setting up liburi-perl (5.10-1) ...
Setting up libhttp-message-perl (6.36-1) ...
Setting up mecab-ipadic (2.7.0-20070801+main-3) ...
Compiling IPA dictionary for Mecab.  This takes long time...
reading /usr/share/mecab/dic/ipadic/unk.def ... 40
emitting double-array: 100% |###########################################|
/usr/share/mecab/dic/ipadic/model.def is not found. skipped.
reading /usr/share/mecab/dic/ipadic/Noun.others.csv ... 151
reading /usr/share/mecab/dic/ipadic/Filler.csv ... 19
reading /usr/share/mecab/dic/ipadic/Postp-col.csv ... 91
reading /usr/share/mecab/dic/ipadic/Postp.csv ... 146
reading /usr/share/mecab/dic/ipadic/Noun.nai.csv ... 42
reading /usr/share/mecab/dic/ipadic/Symbol.csv ... 208
reading /usr/share/mecab/dic/ipadic/Noun.csv ... 60477
reading /usr/share/mecab/dic/ipadic/Others.csv ... 2
reading /usr/share/mecab/dic/ipadic/Noun.proper.csv ... 27328
reading /usr/share/mecab/dic/ipadic/Conjunction.csv ... 171
reading /usr/share/mecab/dic/ipadic/Noun.verbal.csv ... 12146
reading /usr/share/mecab/dic/ipadic/Noun.name.csv ... 34202
reading /usr/share/mecab/dic/ipadic/Auxil.csv ... 199
reading /usr/share/mecab/dic/ipadic/Adverb.csv ... 3032
reading /usr/share/mecab/dic/ipadic/Noun.number.csv ... 42
reading /usr/share/mecab/dic/ipadic/Noun.org.csv ... 16668
reading /usr/share/mecab/dic/ipadic/Noun.place.csv ... 72999
reading /usr/share/mecab/dic/ipadic/Noun.adverbal.csv ... 795
reading /usr/share/mecab/dic/ipadic/Suffix.csv ... 1393
reading /usr/share/mecab/dic/ipadic/Verb.csv ... 130750
reading /usr/share/mecab/dic/ipadic/Noun.adjv.csv ... 3328
reading /usr/share/mecab/dic/ipadic/Prefix.csv ... 221
reading /usr/share/mecab/dic/ipadic/Adj.csv ... 27210
reading /usr/share/mecab/dic/ipadic/Adnominal.csv ... 135
reading /usr/share/mecab/dic/ipadic/Interjection.csv ... 252
reading /usr/share/mecab/dic/ipadic/Noun.demonst.csv ... 120
emitting double-array: 100% |###########################################|
reading /usr/share/mecab/dic/ipadic/matrix.def ... 1316x1316
emitting matrix      : 100% |###########################################|

done!
update-alternatives: using /var/lib/mecab/dic/ipadic to provide /var/lib/mecab/dic/debian (mecab-dictionary) in auto mode
Setting up mysql-server-core-8.0 (8.0.44-0ubuntu0.22.04.2) ...
Setting up mecab-ipadic-utf8 (2.7.0-20070801+main-3) ...
Compiling IPA dictionary for Mecab.  This takes long time...
reading /usr/share/mecab/dic/ipadic/unk.def ... 40
emitting double-array: 100% |###########################################|
/usr/share/mecab/dic/ipadic/model.def is not found. skipped.
reading /usr/share/mecab/dic/ipadic/Noun.others.csv ... 151
reading /usr/share/mecab/dic/ipadic/Filler.csv ... 19
reading /usr/share/mecab/dic/ipadic/Postp-col.csv ... 91
reading /usr/share/mecab/dic/ipadic/Postp.csv ... 146
reading /usr/share/mecab/dic/ipadic/Noun.nai.csv ... 42
reading /usr/share/mecab/dic/ipadic/Symbol.csv ... 208
reading /usr/share/mecab/dic/ipadic/Noun.csv ... 60477
reading /usr/share/mecab/dic/ipadic/Others.csv ... 2
reading /usr/share/mecab/dic/ipadic/Noun.proper.csv ... 27328
reading /usr/share/mecab/dic/ipadic/Conjunction.csv ... 171
reading /usr/share/mecab/dic/ipadic/Noun.verbal.csv ... 12146
reading /usr/share/mecab/dic/ipadic/Noun.name.csv ... 34202
reading /usr/share/mecab/dic/ipadic/Auxil.csv ... 199
reading /usr/share/mecab/dic/ipadic/Adverb.csv ... 3032
reading /usr/share/mecab/dic/ipadic/Noun.number.csv ... 42
reading /usr/share/mecab/dic/ipadic/Noun.org.csv ... 16668
reading /usr/share/mecab/dic/ipadic/Noun.place.csv ... 72999
reading /usr/share/mecab/dic/ipadic/Noun.adverbal.csv ... 795
reading /usr/share/mecab/dic/ipadic/Suffix.csv ... 1393
reading /usr/share/mecab/dic/ipadic/Verb.csv ... 130750
reading /usr/share/mecab/dic/ipadic/Noun.adjv.csv ... 3328
reading /usr/share/mecab/dic/ipadic/Prefix.csv ... 221
reading /usr/share/mecab/dic/ipadic/Adj.csv ... 27210
reading /usr/share/mecab/dic/ipadic/Adnominal.csv ... 135
reading /usr/share/mecab/dic/ipadic/Interjection.csv ... 252
reading /usr/share/mecab/dic/ipadic/Noun.demonst.csv ... 120
emitting double-array: 100% |###########################################|
reading /usr/share/mecab/dic/ipadic/matrix.def ... 1316x1316
emitting matrix      : 100% |###########################################|

done!
update-alternatives: using /var/lib/mecab/dic/ipadic-utf8 to provide /var/lib/mecab/dic/debian (mecab-dictionary) in auto mode
Setting up libhtml-parser-perl:amd64 (3.76-1build2) ...
Setting up mysql-server-8.0 (8.0.44-0ubuntu0.22.04.2) ...
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of stop.
update-alternatives: using /etc/mysql/mysql.cnf to provide /etc/mysql/my.cnf (my.cnf) in auto mode
Renaming removed key_buffer and myisam-recover options (if present)
mysqld will log errors to /var/log/mysql/error.log
mysqld is running as pid 1361
Created symlink /etc/systemd/system/multi-user.target.wants/mysql.service → /lib/systemd/system/mysql.service.
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up libcgi-pm-perl (4.54-1) ...
Setting up libhtml-template-perl (2.97-1.1) ...
Setting up mysql-server (8.0.44-0ubuntu0.22.04.2) ...
Setting up libcgi-fast-perl (1:2.15-1) ...
Processing triggers for man-db (2.10.2-1) ...
Processing triggers for libc-bin (2.35-0ubuntu3.11) ...
/sbin/ldconfig.real: /usr/local/lib/libur_loader.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbb.so.12 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libhwloc.so.15 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_level_zero.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_0.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtcm.so.1 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtcm_debug.so.1 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_level_zero_v2.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_opencl.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libumf.so.1 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc_proxy.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_5.so.3 is not a symbolic link

 * Starting MySQL database server mysqld
su: warning: cannot change directory to /nonexistent: No such file or directory
   ...done.

In [ ]:
# =====================================
# 2. INSTALL MYSQL CONNECTOR
# =====================================

!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.5.0-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (7.5 kB)
Downloading mysql_connector_python-9.5.0-cp312-cp312-manylinux_2_28_x86_64.whl (34.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.1/34.1 MB 63.6 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.5.0

In [ ]:
# =====================================
# 3. SET MYSQL ROOT PASSWORD
# =====================================

!sudo mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'root';"

In [ ]:
# =====================================
# 4. CONNECT PYTHON TO MYSQL
# =====================================

import mysql.connector
import random
from datetime import date, timedelta

db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root"
)

cur = db.cursor()

In [ ]:
# =====================================
# 5. CREATE DATABASE
# =====================================

cur.execute("create database if not exists schema_demo")
cur.execute("use schema_demo")

In [ ]:
# =====================================
# 6. CREATE TABLE (TABLES + FIELDS + CONSTRAINTS)
# =====================================

cur.execute("""
create table student (
    student_id int primary key,
    name varchar(100) not null,
    gender varchar(10),
    dob date,
    phone varchar(15) unique,
    city varchar(50)
)
""")

In [ ]:
# =====================================
# 7. INDIAN NAME DATA
# =====================================

male_names = [
    "Amit","Rahul","Arjun","Rohit","Vikas","Suresh","Ankit","Kunal","Ravi","Aditya"
]

female_names = [
    "Neha","Pooja","Anjali","Kavya","Riya","Priya","Sneha","Aarti","Nisha","Isha"
]

surnames = [
    "Sharma","Verma","Gupta","Singh","Patel","Kumar","Mehta","Reddy","Iyer","Das"
]

cities = [
    "Delhi","Mumbai","Bengaluru","Chennai","Kolkata",
    "Hyderabad","Pune","Jaipur","Indore","Lucknow"
]

In [ ]:
# =====================================
# 8. FUNCTION TO GENERATE RANDOM DOB
# =====================================

def random_dob():
    start = date(1990, 1, 1)
    end = date(2010, 12, 31)
    return start + timedelta(days=random.randint(0, (end - start).days))

In [ ]:
# =====================================
# 9. INSERT 1000 INDIAN STUDENT RECORDS
# =====================================

students = []

for i in range(1, 1001):
    gender = random.choice(["Male", "Female"])

    if gender == "Male":
        fname = random.choice(male_names)
    else:
        fname = random.choice(female_names)

    full_name = fname + " " + random.choice(surnames)
    phone = "9" + str(random.randint(100000000, 999999999))
    city = random.choice(cities)
    dob = random_dob()

    students.append((i, full_name, gender, dob, phone, city))

cur.executemany(
    "insert into student values (%s,%s,%s,%s,%s,%s)",
    students
)

db.commit()

In [ ]:
# =====================================
# 10. DISPLAY ALL TABLES
# =====================================

print("TABLES IN DATABASE:")
cur.execute("show tables")
for t in cur:
    print(t)

TABLES IN DATABASE:
('student',)

In [ ]:
# =====================================
# 11. DISPLAY STRUCTURE (FIELDS)
# =====================================

print("\nSTUDENT TABLE STRUCTURE:")
cur.execute("desc student")
for r in cur:
    print(r)

STUDENT TABLE STRUCTURE:
('student_id', 'int', 'NO', 'PRI', None, '')
('name', 'varchar(100)', 'NO', '', None, '')
('gender', 'varchar(10)', 'YES', '', None, '')
('dob', 'date', 'YES', '', None, '')
('phone', 'varchar(15)', 'YES', 'UNI', None, '')
('city', 'varchar(50)', 'YES', '', None, '')

In [ ]:
# =====================================
# 12. DISPLAY ALL 1000 RECORDS
# =====================================

print("\nDISPLAYING 1000 INDIAN STUDENT RECORDS:\n")
cur.execute("select * from student")

for row in cur:
    print(row)


print("\n✅ 1000 Indian records displayed successfully")

DISPLAYING 1000 INDIAN STUDENT RECORDS:

(1, 'Anjali Reddy', 'Female', datetime.date(2004, 2, 17), '9102129027', 'Pune')
(2, 'Ravi Mehta', 'Male', datetime.date(2004, 6, 30), '9591671105', 'Chennai')
(3, 'Nisha Patel', 'Female', datetime.date(2007, 4, 4), '9559094781', 'Chennai')
(4, 'Neha Mehta', 'Female', datetime.date(1991, 10, 16), '9973641465', 'Kolkata')
(5, 'Rohit Reddy', 'Male', datetime.date(1991, 8, 7), '9741057055', 'Hyderabad')
(6, 'Rohit Mehta', 'Male', datetime.date(1993, 11, 8), '9449869768', 'Pune')
(7, 'Isha Gupta', 'Female', datetime.date(1998, 10, 14), '9481409682', 'Hyderabad')
(8, 'Anjali Mehta', 'Female', datetime.date(2008, 1, 1), '9948320928', 'Indore')
(9, 'Pooja Verma', 'Female', datetime.date(2007, 12, 22), '9504971682', 'Delhi')
(10, 'Kunal Sharma', 'Male', datetime.date(2003, 6, 11), '9361449063', 'Mumbai')
(11, 'Sneha Sharma', 'Female', datetime.date(1997, 4, 23), '9197306610', 'Mumbai')
(12, 'Priya Das', 'Female', datetime.date(2010, 4, 12), '9676109971', 'Kolkata')
(13, 'Ravi Kumar', 'Male', datetime.date(1995, 3, 14), '9830983608', 'Pune')
(14, 'Arjun Gupta', 'Male', datetime.date(1990, 5, 12), '9249811343', 'Mumbai')
(15, 'Nisha Gupta', 'Female', datetime.date(1993, 11, 4), '9886840279', 'Chennai')
(16, 'Ankit Reddy', 'Male', datetime.date(1992, 7, 25), '9400678297', 'Chennai')
(17, 'Suresh Iyer', 'Male', datetime.date(2002, 11, 13), '9747483710', 'Indore')
(18, 'Suresh Verma', 'Male', datetime.date(1994, 5, 5), '9582382204', 'Pune')
(19, 'Anjali Kumar', 'Female', datetime.date(2007, 9, 17), '9920040194', 'Lucknow')
(20, 'Rohit Singh', 'Male', datetime.date(1998, 7, 7), '9458323446', 'Chennai')
(21, 'Priya Sharma', 'Female', datetime.date(1992, 11, 20), '9293626830', 'Kolkata')
(22, 'Pooja Kumar', 'Female', datetime.date(2003, 2, 5), '9110220368', 'Jaipur')
(23, 'Priya Iyer', 'Female', datetime.date(2004, 4, 3), '9263413373', 'Delhi')
(24, 'Aarti Gupta', 'Female', datetime.date(1997, 10, 25), '9183310418', 'Indore')
(25, 'Rohit Mehta', 'Male', datetime.date(1997, 1, 2), '9301874360', 'Mumbai')
(26, 'Kavya Iyer', 'Female', datetime.date(2004, 4, 27), '9784785135', 'Delhi')
(27, 'Amit Verma', 'Male', datetime.date(1998, 1, 3), '9524083254', 'Chennai')
(28, 'Kavya Patel', 'Female', datetime.date(1993, 4, 28), '9464994777', 'Jaipur')
(29, 'Ankit Iyer', 'Male', datetime.date(1996, 12, 6), '9883163397', 'Kolkata')
(30, 'Priya Reddy', 'Female', datetime.date(1999, 1, 2), '9149926914', 'Hyderabad')
(31, 'Ankit Das', 'Male', datetime.date(2002, 10, 28), '9443994069', 'Mumbai')
(32, 'Ankit Verma', 'Male', datetime.date(1998, 10, 3), '9514480477', 'Pune')
(33, 'Kavya Gupta', 'Female', datetime.date(1993, 10, 4), '9385523114', 'Jaipur')
(34, 'Anjali Mehta', 'Female', datetime.date(2009, 5, 17), '9420144490', 'Indore')
(35, 'Aditya Mehta', 'Male', datetime.date(1997, 9, 3), '9695286157', 'Chennai')
(36, 'Aarti Das', 'Female', datetime.date(2000, 2, 6), '9612364703', 'Delhi')
(37, 'Vikas Singh', 'Male', datetime.date(1996, 2, 9), '9563040140', 'Delhi')
(38, 'Amit Verma', 'Male', datetime.date(2004, 9, 15), '9365690855', 'Mumbai')
(39, 'Isha Mehta', 'Female', datetime.date(1993, 4, 6), '9119838516', 'Hyderabad')
(40, 'Ravi Verma', 'Male', datetime.date(2006, 4, 22), '9200395716', 'Kolkata')
(41, 'Aditya Patel', 'Male', datetime.date(1992, 8, 18), '9273096785', 'Jaipur')
(42, 'Nisha Gupta', 'Female', datetime.date(1997, 12, 17), '9922068510', 'Lucknow')
(43, 'Nisha Patel', 'Female', datetime.date(2004, 7, 6), '9147184327', 'Delhi')
(44, 'Rohit Mehta', 'Male', datetime.date(1999, 10, 27), '9788762742', 'Bengaluru')
(45, 'Priya Das', 'Female', datetime.date(2010, 1, 12), '9376825585', 'Lucknow')
(46, 'Rohit Gupta', 'Male', datetime.date(1993, 10, 25), '9822964333', 'Chennai')
(47, 'Priya Reddy', 'Female', datetime.date(2007, 8, 18), '9173086613', 'Lucknow')
(48, 'Pooja Reddy', 'Female', datetime.date(2010, 6, 16), '9862110303', 'Bengaluru')
(49, 'Ankit Patel', 'Male', datetime.date(1991, 1, 22), '9679033758', 'Mumbai')
(50, 'Arjun Singh', 'Male', datetime.date(1993, 7, 29), '9460211609', 'Pune')
(51, 'Nisha Iyer', 'Female', datetime.date(1997, 9, 3), '9319619366', 'Bengaluru')
(52, 'Isha Reddy', 'Female', datetime.date(1996, 10, 6), '9296707311', 'Indore')
(53, 'Arjun Verma', 'Male', datetime.date(2001, 7, 7), '9236978189', 'Indore')
(54, 'Ankit Reddy', 'Male', datetime.date(1992, 12, 19), '9363303912', 'Mumbai')
(55, 'Rahul Verma', 'Male', datetime.date(2007, 12, 27), '9939978385', 'Mumbai')
(56, 'Riya Kumar', 'Female', datetime.date(1998, 4, 17), '9239477394', 'Bengaluru')
(57, 'Rahul Reddy', 'Male', datetime.date(1994, 7, 6), '9944696716', 'Lucknow')
(58, 'Rohit Gupta', 'Male', datetime.date(1999, 4, 24), '9874910548', 'Bengaluru')
(59, 'Priya Kumar', 'Female', datetime.date(2003, 9, 5), '9938415296', 'Mumbai')
(60, 'Riya Sharma', 'Female', datetime.date(2010, 1, 4), '9767274598', 'Hyderabad')
(61, 'Pooja Gupta', 'Female', datetime.date(1998, 1, 24), '9220123053', 'Bengaluru')
(62, 'Arjun Das', 'Male', datetime.date(2002, 1, 21), '9770351902', 'Indore')
(63, 'Suresh Verma', 'Male', datetime.date(1992, 5, 11), '9287081109', 'Mumbai')
(64, 'Ankit Kumar', 'Male', datetime.date(2003, 12, 3), '9967060624', 'Delhi')
(65, 'Rohit Singh', 'Male', datetime.date(2005, 7, 2), '9971943781', 'Delhi')
(66, 'Rohit Mehta', 'Male', datetime.date(1996, 5, 28), '9567945681', 'Chennai')
(67, 'Aditya Patel', 'Male', datetime.date(2007, 10, 6), '9222180726', 'Pune')
(68, 'Riya Verma', 'Female', datetime.date(1999, 9, 7), '9800080166', 'Pune')
(69, 'Amit Verma', 'Male', datetime.date(1997, 10, 26), '9458001942', 'Hyderabad')
(70, 'Kavya Reddy', 'Female', datetime.date(1993, 7, 20), '9216330871', 'Kolkata')
(71, 'Suresh Sharma', 'Male', datetime.date(1991, 6, 22), '9595249066', 'Chennai')
(72, 'Rahul Iyer', 'Male', datetime.date(2004, 11, 2), '9324014303', 'Lucknow')
(73, 'Aarti Mehta', 'Female', datetime.date(2004, 1, 29), '9757682309', 'Lucknow')
(74, 'Arjun Iyer', 'Male', datetime.date(1994, 10, 29), '9926366984', 'Lucknow')
(75, 'Arjun Verma', 'Male', datetime.date(2009, 11, 20), '9111689936', 'Mumbai')
(76, 'Aditya Das', 'Male', datetime.date(2000, 5, 14), '9739244016', 'Hyderabad')
(77, 'Sneha Mehta', 'Female', datetime.date(2003, 9, 22), '9531434837', 'Lucknow')
(78, 'Kunal Patel', 'Male', datetime.date(2009, 12, 4), '9901374145', 'Hyderabad')
(79, 'Amit Das', 'Male', datetime.date(2002, 11, 16), '9543522808', 'Indore')
(80, 'Ankit Kumar', 'Male', datetime.date(1994, 8, 26), '9762321229', 'Indore')
(81, 'Kunal Patel', 'Male', datetime.date(2004, 3, 24), '9535841044', 'Kolkata')
(82, 'Suresh Singh', 'Male', datetime.date(2009, 10, 21), '9607984895', 'Hyderabad')
(83, 'Amit Sharma', 'Male', datetime.date(2000, 5, 25), '9794994405', 'Bengaluru')
(84, 'Priya Gupta', 'Female', datetime.date(1998, 5, 4), '9745370664', 'Lucknow')
(85, 'Rahul Gupta', 'Male', datetime.date(2009, 5, 15), '9246339328', 'Chennai')
(86, 'Sneha Iyer', 'Female', datetime.date(2004, 3, 1), '9981009260', 'Delhi')
(87, 'Priya Verma', 'Female', datetime.date(2006, 9, 16), '9349888527', 'Chennai')
(88, 'Isha Gupta', 'Female', datetime.date(2004, 12, 30), '9211901593', 'Jaipur')
(89, 'Sneha Reddy', 'Female', datetime.date(2003, 10, 23), '9673013242', 'Lucknow')
(90, 'Arjun Gupta', 'Male', datetime.date(1997, 4, 25), '9371169048', 'Indore')
(91, 'Aarti Kumar', 'Female', datetime.date(2007, 5, 18), '9417328980', 'Hyderabad')
(92, 'Kavya Das', 'Female', datetime.date(1995, 12, 3), '9729125797', 'Delhi')
(93, 'Pooja Sharma', 'Female', datetime.date(2009, 5, 22), '9474737585', 'Chennai')
(94, 'Priya Singh', 'Female', datetime.date(2001, 9, 26), '9503753227', 'Indore')
(95, 'Aarti Sharma', 'Female', datetime.date(2007, 1, 11), '9130981554', 'Chennai')
(96, 'Isha Sharma', 'Female', datetime.date(2006, 8, 8), '9541405730', 'Pune')
(97, 'Rahul Patel', 'Male', datetime.date(1994, 1, 23), '9777739654', 'Bengaluru')
(98, 'Rahul Mehta', 'Male', datetime.date(1997, 11, 30), '9553966491', 'Lucknow')
(99, 'Ravi Reddy', 'Male', datetime.date(2002, 3, 5), '9502320964', 'Kolkata')
(100, 'Vikas Iyer', 'Male', datetime.date(2010, 10, 31), '9885817442', 'Hyderabad')
(101, 'Priya Verma', 'Female', datetime.date(2007, 2, 3), '9353170637', 'Pune')
(102, 'Rohit Sharma', 'Male', datetime.date(1994, 2, 22), '9111041279', 'Mumbai')
(103, 'Isha Gupta', 'Female', datetime.date(2010, 10, 8), '9116868411', 'Hyderabad')
(104, 'Rahul Gupta', 'Male', datetime.date(1992, 7, 10), '9312153847', 'Delhi')
(105, 'Pooja Patel', 'Female', datetime.date(1998, 8, 28), '9563202571', 'Bengaluru')
(106, 'Vikas Iyer', 'Male', datetime.date(1997, 5, 7), '9532823592', 'Mumbai')
(107, 'Sneha Sharma', 'Female', datetime.date(2002, 9, 17), '9775202595', 'Pune')
(108, 'Vikas Das', 'Male', datetime.date(1996, 9, 14), '9101979739', 'Lucknow')
(109, 'Kunal Verma', 'Male', datetime.date(2000, 12, 24), '9677103240', 'Bengaluru')
(110, 'Amit Iyer', 'Male', datetime.date(1998, 8, 13), '9992017308', 'Delhi')
(111, 'Kunal Patel', 'Male', datetime.date(2003, 9, 5), '9983633992', 'Jaipur')
(112, 'Aditya Das', 'Male', datetime.date(1996, 5, 6), '9118310512', 'Lucknow')
(113, 'Isha Verma', 'Female', datetime.date(2009, 11, 18), '9506105263', 'Indore')
(114, 'Anjali Das', 'Female', datetime.date(1992, 3, 25), '9922590337', 'Pune')
(115, 'Nisha Patel', 'Female', datetime.date(1993, 12, 1), '9477896899', 'Lucknow')
(116, 'Aditya Gupta', 'Male', datetime.date(2009, 12, 14), '9230675074', 'Bengaluru')
(117, 'Rohit Gupta', 'Male', datetime.date(2002, 6, 15), '9691360607', 'Jaipur')
(118, 'Suresh Reddy', 'Male', datetime.date(1990, 8, 30), '9406185275', 'Pune')
(119, 'Amit Kumar', 'Male', datetime.date(2001, 3, 6), '9643932055', 'Jaipur')
(120, 'Kunal Verma', 'Male', datetime.date(1996, 12, 10), '9934330556', 'Indore')
(121, 'Vikas Gupta', 'Male', datetime.date(2010, 3, 13), '9282840280', 'Kolkata')
(122, 'Arjun Das', 'Male', datetime.date(2008, 11, 22), '9733533305', 'Jaipur')
(123, 'Kavya Sharma', 'Female', datetime.date(1991, 11, 4), '9905048261', 'Kolkata')
(124, 'Rohit Sharma', 'Male', datetime.date(2006, 10, 10), '9846635643', 'Delhi')
(125, 'Sneha Sharma', 'Female', datetime.date(1998, 3, 18), '9115117517', 'Lucknow')
(126, 'Kunal Singh', 'Male', datetime.date(1996, 10, 12), '9584638539', 'Pune')
(127, 'Vikas Mehta', 'Male', datetime.date(1994, 2, 27), '9901525908', 'Indore')
(128, 'Arjun Verma', 'Male', datetime.date(2001, 5, 25), '9472071558', 'Jaipur')
(129, 'Rahul Das', 'Male', datetime.date(1999, 8, 24), '9246980750', 'Kolkata')
(130, 'Ankit Iyer', 'Male', datetime.date(1992, 9, 30), '9406253164', 'Mumbai')
(131, 'Priya Verma', 'Female', datetime.date(2003, 5, 9), '9176426203', 'Hyderabad')
(132, 'Rohit Gupta', 'Male', datetime.date(2004, 12, 18), '9831943584', 'Jaipur')
(133, 'Riya Mehta', 'Female', datetime.date(2007, 6, 4), '9841216827', 'Hyderabad')
(134, 'Priya Kumar', 'Female', datetime.date(1991, 3, 23), '9763079391', 'Hyderabad')
(135, 'Amit Iyer', 'Male', datetime.date(2009, 1, 13), '9138549378', 'Chennai')
(136, 'Priya Patel', 'Female', datetime.date(1990, 2, 26), '9985692368', 'Hyderabad')
(137, 'Vikas Reddy', 'Male', datetime.date(2010, 8, 17), '9787524806', 'Lucknow')
(138, 'Kunal Iyer', 'Male', datetime.date(2010, 5, 15), '9530091412', 'Mumbai')
(139, 'Isha Singh', 'Female', datetime.date(2001, 3, 2), '9988116408', 'Indore')
(140, 'Pooja Gupta', 'Female', datetime.date(1991, 9, 3), '9700645270', 'Jaipur')
(141, 'Neha Reddy', 'Female', datetime.date(1998, 12, 1), '9702640904', 'Lucknow')
(142, 'Riya Gupta', 'Female', datetime.date(1997, 4, 14), '9586559199', 'Delhi')
(143, 'Sneha Gupta', 'Female', datetime.date(1995, 7, 6), '9446479596', 'Bengaluru')
(144, 'Isha Iyer', 'Female', datetime.date(1995, 10, 30), '9596774759', 'Indore')
(145, 'Ankit Verma', 'Male', datetime.date(1991, 4, 5), '9272238238', 'Kolkata')
(146, 'Ankit Iyer', 'Male', datetime.date(1999, 9, 21), '9418756490', 'Pune')
(147, 'Amit Iyer', 'Male', datetime.date(1996, 10, 21), '9378748466', 'Hyderabad')
(148, 'Aditya Iyer', 'Male', datetime.date(1999, 2, 10), '9633168239', 'Bengaluru')
(149, 'Isha Reddy', 'Female', datetime.date(2008, 8, 16), '9793672307', 'Pune')
(150, 'Pooja Gupta', 'Female', datetime.date(2006, 1, 19), '9686725438', 'Bengaluru')
(151, 'Rahul Kumar', 'Male', datetime.date(1999, 4, 4), '9705095356', 'Bengaluru')
(152, 'Vikas Singh', 'Male', datetime.date(2003, 2, 4), '9836492563', 'Jaipur')
(153, 'Suresh Gupta', 'Male', datetime.date(1998, 12, 12), '9443334631', 'Indore')
(154, 'Arjun Patel', 'Male', datetime.date(2000, 7, 20), '9793152945', 'Bengaluru')
(155, 'Suresh Verma', 'Male', datetime.date(1992, 9, 1), '9757287287', 'Jaipur')
(156, 'Priya Sharma', 'Female', datetime.date(1999, 10, 22), '9322812481', 'Lucknow')
(157, 'Aarti Patel', 'Female', datetime.date(1997, 10, 6), '9944927287', 'Hyderabad')
(158, 'Rahul Singh', 'Male', datetime.date(2007, 8, 20), '9754901295', 'Indore')
(159, 'Vikas Verma', 'Male', datetime.date(1998, 1, 16), '9157973549', 'Indore')
(160, 'Vikas Patel', 'Male', datetime.date(1993, 2, 27), '9543704886', 'Pune')
(161, 'Nisha Sharma', 'Female', datetime.date(1993, 9, 12), '9835409255', 'Pune')
(162, 'Anjali Mehta', 'Female', datetime.date(1991, 5, 19), '9100782317', 'Lucknow')
(163, 'Riya Kumar', 'Female', datetime.date(2007, 10, 20), '9217610912', 'Delhi')
(164, 'Isha Sharma', 'Female', datetime.date(1996, 7, 21), '9563866134', 'Pune')
(165, 'Riya Verma', 'Female', datetime.date(1994, 4, 1), '9996745125', 'Lucknow')
(166, 'Amit Mehta', 'Male', datetime.date(1997, 1, 29), '9481335490', 'Chennai')
(167, 'Amit Das', 'Male', datetime.date(2007, 12, 10), '9832805390', 'Bengaluru')
(168, 'Amit Verma', 'Male', datetime.date(1997, 12, 28), '9149722638', 'Lucknow')
(169, 'Pooja Kumar', 'Female', datetime.date(1993, 11, 8), '9565854882', 'Indore')
(170, 'Isha Singh', 'Female', datetime.date(1992, 8, 20), '9189659894', 'Kolkata')
(171, 'Kavya Verma', 'Female', datetime.date(2002, 12, 14), '9837032258', 'Lucknow')
(172, 'Amit Gupta', 'Male', datetime.date(1997, 9, 8), '9605218829', 'Lucknow')
(173, 'Sneha Iyer', 'Female', datetime.date(2006, 2, 27), '9614970475', 'Mumbai')
(174, 'Isha Das', 'Female', datetime.date(1999, 6, 22), '9792440127', 'Kolkata')
(175, 'Pooja Kumar', 'Female', datetime.date(2006, 3, 18), '9740373022', 'Mumbai')
(176, 'Neha Mehta', 'Female', datetime.date(2006, 12, 29), '9670349978', 'Chennai')
(177, 'Isha Reddy', 'Female', datetime.date(2009, 4, 27), '9439065995', 'Kolkata')
(178, 'Riya Verma', 'Female', datetime.date(2006, 3, 20), '9865102646', 'Lucknow')
(179, 'Aditya Kumar', 'Male', datetime.date(1994, 1, 15), '9827545598', 'Hyderabad')
(180, 'Rahul Iyer', 'Male', datetime.date(2002, 11, 27), '9205500940', 'Bengaluru')
(181, 'Sneha Singh', 'Female', datetime.date(1998, 12, 22), '9593931942', 'Jaipur')
(182, 'Anjali Iyer', 'Female', datetime.date(1996, 1, 11), '9319198313', 'Jaipur')
(183, 'Vikas Reddy', 'Male', datetime.date(1998, 4, 27), '9869821570', 'Jaipur')
(184, 'Sneha Singh', 'Female', datetime.date(2002, 1, 17), '9350668832', 'Indore')
(185, 'Rahul Mehta', 'Male', datetime.date(1996, 11, 11), '9213970643', 'Lucknow')
(186, 'Kavya Mehta', 'Female', datetime.date(2010, 4, 17), '9485373797', 'Bengaluru')
(187, 'Amit Gupta', 'Male', datetime.date(2005, 10, 21), '9156836259', 'Jaipur')
(188, 'Kavya Kumar', 'Female', datetime.date(2006, 12, 12), '9354307090', 'Bengaluru')
(189, 'Sneha Sharma', 'Female', datetime.date(2000, 6, 24), '9254020998', 'Lucknow')
(190, 'Aditya Sharma', 'Male', datetime.date(1999, 1, 6), '9960533540', 'Delhi')
(191, 'Aarti Verma', 'Female', datetime.date(1993, 8, 10), '9366901635', 'Indore')
(192, 'Neha Das', 'Female', datetime.date(2002, 8, 23), '9455063120', 'Mumbai')
(193, 'Rohit Gupta', 'Male', datetime.date(1992, 12, 26), '9180124343', 'Kolkata')
(194, 'Isha Gupta', 'Female', datetime.date(1995, 1, 7), '9471898018', 'Kolkata')
(195, 'Kunal Sharma', 'Male', datetime.date(2001, 1, 2), '9756671413', 'Bengaluru')
(196, 'Kunal Reddy', 'Male', datetime.date(1997, 11, 2), '9910029434', 'Indore')
(197, 'Vikas Iyer', 'Male', datetime.date(1998, 9, 13), '9902342419', 'Chennai')
(198, 'Vikas Verma', 'Male', datetime.date(1994, 6, 17), '9162441951', 'Mumbai')
(199, 'Anjali Sharma', 'Female', datetime.date(1999, 4, 3), '9199707306', 'Chennai')
(200, 'Priya Kumar', 'Female', datetime.date(1999, 3, 18), '9737542985', 'Bengaluru')
(201, 'Kavya Kumar', 'Female', datetime.date(1994, 8, 27), '9484991991', 'Jaipur')
(202, 'Rahul Verma', 'Male', datetime.date(2003, 7, 27), '9694449756', 'Jaipur')
(203, 'Neha Singh', 'Female', datetime.date(2001, 2, 2), '9256907945', 'Lucknow')
(204, 'Kunal Verma', 'Male', datetime.date(2010, 6, 4), '9311903498', 'Mumbai')
(205, 'Riya Iyer', 'Female', datetime.date(1991, 6, 18), '9178948125', 'Mumbai')
(206, 'Ankit Verma', 'Male', datetime.date(2000, 12, 31), '9651999570', 'Lucknow')
(207, 'Arjun Gupta', 'Male', datetime.date(2002, 9, 3), '9706652481', 'Chennai')
(208, 'Rahul Gupta', 'Male', datetime.date(2004, 9, 12), '9251038197', 'Mumbai')
(209, 'Sneha Mehta', 'Female', datetime.date(2005, 7, 7), '9129133105', 'Hyderabad')
(210, 'Sneha Sharma', 'Female', datetime.date(1997, 2, 24), '9716944234', 'Mumbai')
(211, 'Arjun Sharma', 'Male', datetime.date(1999, 10, 16), '9651199477', 'Lucknow')
(212, 'Pooja Gupta', 'Female', datetime.date(2001, 9, 20), '9710186160', 'Chennai')
(213, 'Ankit Verma', 'Male', datetime.date(2001, 5, 6), '9453091911', 'Hyderabad')
(214, 'Pooja Mehta', 'Female', datetime.date(2005, 10, 3), '9873330951', 'Chennai')
(215, 'Aarti Gupta', 'Female', datetime.date(1999, 6, 7), '9617378532', 'Indore')
(216, 'Riya Kumar', 'Female', datetime.date(1994, 5, 20), '9346765641', 'Bengaluru')
(217, 'Neha Iyer', 'Female', datetime.date(1991, 7, 18), '9736386906', 'Lucknow')
(218, 'Arjun Singh', 'Male', datetime.date(2006, 12, 22), '9277882733', 'Indore')
(219, 'Sneha Reddy', 'Female', datetime.date(2002, 6, 2), '9512024381', 'Indore')
(220, 'Arjun Sharma', 'Male', datetime.date(1991, 1, 24), '9390418561', 'Lucknow')
(221, 'Suresh Kumar', 'Male', datetime.date(1993, 6, 4), '9834911989', 'Mumbai')
(222, 'Arjun Mehta', 'Male', datetime.date(1996, 11, 28), '9979850825', 'Hyderabad')
(223, 'Pooja Iyer', 'Female', datetime.date(2004, 11, 28), '9434897748', 'Indore')
(224, 'Priya Sharma', 'Female', datetime.date(2000, 10, 11), '9652101476', 'Kolkata')
(225, 'Pooja Iyer', 'Female', datetime.date(1999, 10, 28), '9713489416', 'Pune')
(226, 'Pooja Mehta', 'Female', datetime.date(1998, 1, 28), '9222520190', 'Indore')
(227, 'Vikas Reddy', 'Male', datetime.date(2009, 6, 2), '9603912355', 'Jaipur')
(228, 'Amit Mehta', 'Male', datetime.date(2005, 9, 9), '9568829962', 'Mumbai')
(229, 'Anjali Reddy', 'Female', datetime.date(1997, 3, 10), '9480974240', 'Hyderabad')
(230, 'Neha Gupta', 'Female', datetime.date(2002, 1, 24), '9412880426', 'Bengaluru')
(231, 'Aditya Sharma', 'Male', datetime.date(2006, 4, 15), '9378002585', 'Delhi')
(232, 'Aditya Sharma', 'Male', datetime.date(1996, 4, 29), '9139946053', 'Bengaluru')
(233, 'Aditya Singh', 'Male', datetime.date(1996, 9, 17), '9783873652', 'Kolkata')
(234, 'Aarti Kumar', 'Female', datetime.date(2002, 3, 3), '9494639765', 'Chennai')
(235, 'Neha Iyer', 'Female', datetime.date(1999, 11, 10), '9461674132', 'Delhi')
(236, 'Anjali Kumar', 'Female', datetime.date(1991, 4, 24), '9946957976', 'Chennai')
(237, 'Anjali Reddy', 'Female', datetime.date(2003, 4, 16), '9764794701', 'Jaipur')
(238, 'Ankit Das', 'Male', datetime.date(1999, 9, 24), '9563490517', 'Hyderabad')
(239, 'Ankit Singh', 'Male', datetime.date(1997, 6, 20), '9105383932', 'Kolkata')
(240, 'Arjun Reddy', 'Male', datetime.date(1993, 11, 23), '9182868578', 'Pune')
(241, 'Ravi Singh', 'Male', datetime.date(1993, 4, 6), '9737749222', 'Mumbai')
(242, 'Neha Gupta', 'Female', datetime.date(2010, 6, 12), '9753950748', 'Chennai')
(243, 'Kunal Patel', 'Male', datetime.date(2002, 12, 9), '9598106373', 'Hyderabad')

In [ ]:
import mysql.connector

db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database="schema_demo"
)

cur = db.cursor()

cur.execute("select * from student limit 1000")

for row in cur:
    print(row)

(1, 'Anjali Reddy', 'Female', datetime.date(2004, 2, 17), '9102129027', 'Pune')
(2, 'Ravi Mehta', 'Male', datetime.date(2004, 6, 30), '9591671105', 'Chennai')
(3, 'Nisha Patel', 'Female', datetime.date(2007, 4, 4), '9559094781', 'Chennai')
(4, 'Neha Mehta', 'Female', datetime.date(1991, 10, 16), '9973641465', 'Kolkata')
(5, 'Rohit Reddy', 'Male', datetime.date(1991, 8, 7), '9741057055', 'Hyderabad')
(6, 'Rohit Mehta', 'Male', datetime.date(1993, 11, 8), '9449869768', 'Pune')
(7, 'Isha Gupta', 'Female', datetime.date(1998, 10, 14), '9481409682', 'Hyderabad')
(8, 'Anjali Mehta', 'Female', datetime.date(2008, 1, 1), '9948320928', 'Indore')
(9, 'Pooja Verma', 'Female', datetime.date(2007, 12, 22), '9504971682', 'Delhi')
(10, 'Kunal Sharma', 'Male', datetime.date(2003, 6, 11), '9361449063', 'Mumbai')
(11, 'Sneha Sharma', 'Female', datetime.date(1997, 4, 23), '9197306610', 'Mumbai')
(12, 'Priya Das', 'Female', datetime.date(2010, 4, 12), '9676109971', 'Kolkata')
(13, 'Ravi Kumar', 'Male', datetime.date(1995, 3, 14), '9830983608', 'Pune')
(14, 'Arjun Gupta', 'Male', datetime.date(1990, 5, 12), '9249811343', 'Mumbai')
(15, 'Nisha Gupta', 'Female', datetime.date(1993, 11, 4), '9886840279', 'Chennai')
(16, 'Ankit Reddy', 'Male', datetime.date(1992, 7, 25), '9400678297', 'Chennai')
(17, 'Suresh Iyer', 'Male', datetime.date(2002, 11, 13), '9747483710', 'Indore')
(18, 'Suresh Verma', 'Male', datetime.date(1994, 5, 5), '9582382204', 'Pune')
(19, 'Anjali Kumar', 'Female', datetime.date(2007, 9, 17), '9920040194', 'Lucknow')
(20, 'Rohit Singh', 'Male', datetime.date(1998, 7, 7), '9458323446', 'Chennai')
(21, 'Priya Sharma', 'Female', datetime.date(1992, 11, 20), '9293626830', 'Kolkata')
(22, 'Pooja Kumar', 'Female', datetime.date(2003, 2, 5), '9110220368', 'Jaipur')
(23, 'Priya Iyer', 'Female', datetime.date(2004, 4, 3), '9263413373', 'Delhi')
(24, 'Aarti Gupta', 'Female', datetime.date(1997, 10, 25), '9183310418', 'Indore')
(25, 'Rohit Mehta', 'Male', datetime.date(1997, 1, 2), '9301874360', 'Mumbai')
(26, 'Kavya Iyer', 'Female', datetime.date(2004, 4, 27), '9784785135', 'Delhi')
(27, 'Amit Verma', 'Male', datetime.date(1998, 1, 3), '9524083254', 'Chennai')
(28, 'Kavya Patel', 'Female', datetime.date(1993, 4, 28), '9464994777', 'Jaipur')
(29, 'Ankit Iyer', 'Male', datetime.date(1996, 12, 6), '9883163397', 'Kolkata')
(30, 'Priya Reddy', 'Female', datetime.date(1999, 1, 2), '9149926914', 'Hyderabad')
(31, 'Ankit Das', 'Male', datetime.date(2002, 10, 28), '9443994069', 'Mumbai')
(32, 'Ankit Verma', 'Male', datetime.date(1998, 10, 3), '9514480477', 'Pune')
(33, 'Kavya Gupta', 'Female', datetime.date(1993, 10, 4), '9385523114', 'Jaipur')
(34, 'Anjali Mehta', 'Female', datetime.date(2009, 5, 17), '9420144490', 'Indore')
(35, 'Aditya Mehta', 'Male', datetime.date(1997, 9, 3), '9695286157', 'Chennai')
(36, 'Aarti Das', 'Female', datetime.date(2000, 2, 6), '9612364703', 'Delhi')
(37, 'Vikas Singh', 'Male', datetime.date(1996, 2, 9), '9563040140', 'Delhi')
(38, 'Amit Verma', 'Male', datetime.date(2004, 9, 15), '9365690855', 'Mumbai')
(39, 'Isha Mehta', 'Female', datetime.date(1993, 4, 6), '9119838516', 'Hyderabad')
(40, 'Ravi Verma', 'Male', datetime.date(2006, 4, 22), '9200395716', 'Kolkata')
(41, 'Aditya Patel', 'Male', datetime.date(1992, 8, 18), '9273096785', 'Jaipur')
(42, 'Nisha Gupta', 'Female', datetime.date(1997, 12, 17), '9922068510', 'Lucknow')
(43, 'Nisha Patel', 'Female', datetime.date(2004, 7, 6), '9147184327', 'Delhi')
(44, 'Rohit Mehta', 'Male', datetime.date(1999, 10, 27), '9788762742', 'Bengaluru')
(45, 'Priya Das', 'Female', datetime.date(2010, 1, 12), '9376825585', 'Lucknow')
(46, 'Rohit Gupta', 'Male', datetime.date(1993, 10, 25), '9822964333', 'Chennai')
(47, 'Priya Reddy', 'Female', datetime.date(2007, 8, 18), '9173086613', 'Lucknow')
(48, 'Pooja Reddy', 'Female', datetime.date(2010, 6, 16), '9862110303', 'Bengaluru')
(49, 'Ankit Patel', 'Male', datetime.date(1991, 1, 22), '9679033758', 'Mumbai')
(50, 'Arjun Singh', 'Male', datetime.date(1993, 7, 29), '9460211609', 'Pune')
(51, 'Nisha Iyer', 'Female', datetime.date(1997, 9, 3), '9319619366', 'Bengaluru')
(52, 'Isha Reddy', 'Female', datetime.date(1996, 10, 6), '9296707311', 'Indore')
(53, 'Arjun Verma', 'Male', datetime.date(2001, 7, 7), '9236978189', 'Indore')
(54, 'Ankit Reddy', 'Male', datetime.date(1992, 12, 19), '9363303912', 'Mumbai')
(55, 'Rahul Verma', 'Male', datetime.date(2007, 12, 27), '9939978385', 'Mumbai')
(56, 'Riya Kumar', 'Female', datetime.date(1998, 4, 17), '9239477394', 'Bengaluru')
(57, 'Rahul Reddy', 'Male', datetime.date(1994, 7, 6), '9944696716', 'Lucknow')
(58, 'Rohit Gupta', 'Male', datetime.date(1999, 4, 24), '9874910548', 'Bengaluru')
(59, 'Priya Kumar', 'Female', datetime.date(2003, 9, 5), '9938415296', 'Mumbai')
(60, 'Riya Sharma', 'Female', datetime.date(2010, 1, 4), '9767274598', 'Hyderabad')
(61, 'Pooja Gupta', 'Female', datetime.date(1998, 1, 24), '9220123053', 'Bengaluru')
(62, 'Arjun Das', 'Male', datetime.date(2002, 1, 21), '9770351902', 'Indore')
(63, 'Suresh Verma', 'Male', datetime.date(1992, 5, 11), '9287081109', 'Mumbai')
(64, 'Ankit Kumar', 'Male', datetime.date(2003, 12, 3), '9967060624', 'Delhi')
(65, 'Rohit Singh', 'Male', datetime.date(2005, 7, 2), '9971943781', 'Delhi')
(66, 'Rohit Mehta', 'Male', datetime.date(1996, 5, 28), '9567945681', 'Chennai')
(67, 'Aditya Patel', 'Male', datetime.date(2007, 10, 6), '9222180726', 'Pune')
(68, 'Riya Verma', 'Female', datetime.date(1999, 9, 7), '9800080166', 'Pune')
(69, 'Amit Verma', 'Male', datetime.date(1997, 10, 26), '9458001942', 'Hyderabad')
(70, 'Kavya Reddy', 'Female', datetime.date(1993, 7, 20), '9216330871', 'Kolkata')
(71, 'Suresh Sharma', 'Male', datetime.date(1991, 6, 22), '9595249066', 'Chennai')
(72, 'Rahul Iyer', 'Male', datetime.date(2004, 11, 2), '9324014303', 'Lucknow')
(73, 'Aarti Mehta', 'Female', datetime.date(2004, 1, 29), '9757682309', 'Lucknow')
(74, 'Arjun Iyer', 'Male', datetime.date(1994, 10, 29), '9926366984', 'Lucknow')
(75, 'Arjun Verma', 'Male', datetime.date(2009, 11, 20), '9111689936', 'Mumbai')
(76, 'Aditya Das', 'Male', datetime.date(2000, 5, 14), '9739244016', 'Hyderabad')
(77, 'Sneha Mehta', 'Female', datetime.date(2003, 9, 22), '9531434837', 'Lucknow')
(78, 'Kunal Patel', 'Male', datetime.date(2009, 12, 4), '9901374145', 'Hyderabad')
(79, 'Amit Das', 'Male', datetime.date(2002, 11, 16), '9543522808', 'Indore')
(80, 'Ankit Kumar', 'Male', datetime.date(1994, 8, 26), '9762321229', 'Indore')
(81, 'Kunal Patel', 'Male', datetime.date(2004, 3, 24), '9535841044', 'Kolkata')
(82, 'Suresh Singh', 'Male', datetime.date(2009, 10, 21), '9607984895', 'Hyderabad')
(83, 'Amit Sharma', 'Male', datetime.date(2000, 5, 25), '9794994405', 'Bengaluru')
(84, 'Priya Gupta', 'Female', datetime.date(1998, 5, 4), '9745370664', 'Lucknow')
(85, 'Rahul Gupta', 'Male', datetime.date(2009, 5, 15), '9246339328', 'Chennai')
(86, 'Sneha Iyer', 'Female', datetime.date(2004, 3, 1), '9981009260', 'Delhi')
(87, 'Priya Verma', 'Female', datetime.date(2006, 9, 16), '9349888527', 'Chennai')
(88, 'Isha Gupta', 'Female', datetime.date(2004, 12, 30), '9211901593', 'Jaipur')
(89, 'Sneha Reddy', 'Female', datetime.date(2003, 10, 23), '9673013242', 'Lucknow')
(90, 'Arjun Gupta', 'Male', datetime.date(1997, 4, 25), '9371169048', 'Indore')
(91, 'Aarti Kumar', 'Female', datetime.date(2007, 5, 18), '9417328980', 'Hyderabad')
(92, 'Kavya Das', 'Female', datetime.date(1995, 12, 3), '9729125797', 'Delhi')
(93, 'Pooja Sharma', 'Female', datetime.date(2009, 5, 22), '9474737585', 'Chennai')
(94, 'Priya Singh', 'Female', datetime.date(2001, 9, 26), '9503753227', 'Indore')
(95, 'Aarti Sharma', 'Female', datetime.date(2007, 1, 11), '9130981554', 'Chennai')
(96, 'Isha Sharma', 'Female', datetime.date(2006, 8, 8), '9541405730', 'Pune')
(97, 'Rahul Patel', 'Male', datetime.date(1994, 1, 23), '9777739654', 'Bengaluru')
(98, 'Rahul Mehta', 'Male', datetime.date(1997, 11, 30), '9553966491', 'Lucknow')
(99, 'Ravi Reddy', 'Male', datetime.date(2002, 3, 5), '9502320964', 'Kolkata')
(100, 'Vikas Iyer', 'Male', datetime.date(2010, 10, 31), '9885817442', 'Hyderabad')
(101, 'Priya Verma', 'Female', datetime.date(2007, 2, 3), '9353170637', 'Pune')
(102, 'Rohit Sharma', 'Male', datetime.date(1994, 2, 22), '9111041279', 'Mumbai')
(103, 'Isha Gupta', 'Female', datetime.date(2010, 10, 8), '9116868411', 'Hyderabad')
(104, 'Rahul Gupta', 'Male', datetime.date(1992, 7, 10), '9312153847', 'Delhi')
(105, 'Pooja Patel', 'Female', datetime.date(1998, 8, 28), '9563202571', 'Bengaluru')
(106, 'Vikas Iyer', 'Male', datetime.date(1997, 5, 7), '9532823592', 'Mumbai')
(107, 'Sneha Sharma', 'Female', datetime.date(2002, 9, 17), '9775202595', 'Pune')
(108, 'Vikas Das', 'Male', datetime.date(1996, 9, 14), '9101979739', 'Lucknow')
(109, 'Kunal Verma', 'Male', datetime.date(2000, 12, 24), '9677103240', 'Bengaluru')
(110, 'Amit Iyer', 'Male', datetime.date(1998, 8, 13), '9992017308', 'Delhi')
(111, 'Kunal Patel', 'Male', datetime.date(2003, 9, 5), '9983633992', 'Jaipur')
(112, 'Aditya Das', 'Male', datetime.date(1996, 5, 6), '9118310512', 'Lucknow')
(113, 'Isha Verma', 'Female', datetime.date(2009, 11, 18), '9506105263', 'Indore')
(114, 'Anjali Das', 'Female', datetime.date(1992, 3, 25), '9922590337', 'Pune')
(115, 'Nisha Patel', 'Female', datetime.date(1993, 12, 1), '9477896899', 'Lucknow')
(116, 'Aditya Gupta', 'Male', datetime.date(2009, 12, 14), '9230675074', 'Bengaluru')
(117, 'Rohit Gupta', 'Male', datetime.date(2002, 6, 15), '9691360607', 'Jaipur')
(118, 'Suresh Reddy', 'Male', datetime.date(1990, 8, 30), '9406185275', 'Pune')
(119, 'Amit Kumar', 'Male', datetime.date(2001, 3, 6), '9643932055', 'Jaipur')
(120, 'Kunal Verma', 'Male', datetime.date(1996, 12, 10), '9934330556', 'Indore')
(121, 'Vikas Gupta', 'Male', datetime.date(2010, 3, 13), '9282840280', 'Kolkata')
(122, 'Arjun Das', 'Male', datetime.date(2008, 11, 22), '9733533305', 'Jaipur')
(123, 'Kavya Sharma', 'Female', datetime.date(1991, 11, 4), '9905048261', 'Kolkata')
(124, 'Rohit Sharma', 'Male', datetime.date(2006, 10, 10), '9846635643', 'Delhi')
(125, 'Sneha Sharma', 'Female', datetime.date(1998, 3, 18), '9115117517', 'Lucknow')
(126, 'Kunal Singh', 'Male', datetime.date(1996, 10, 12), '9584638539', 'Pune')
(127, 'Vikas Mehta', 'Male', datetime.date(1994, 2, 27), '9901525908', 'Indore')
(128, 'Arjun Verma', 'Male', datetime.date(2001, 5, 25), '9472071558', 'Jaipur')
(129, 'Rahul Das', 'Male', datetime.date(1999, 8, 24), '9246980750', 'Kolkata')
(130, 'Ankit Iyer', 'Male', datetime.date(1992, 9, 30), '9406253164', 'Mumbai')
(131, 'Priya Verma', 'Female', datetime.date(2003, 5, 9), '9176426203', 'Hyderabad')
(132, 'Rohit Gupta', 'Male', datetime.date(2004, 12, 18), '9831943584', 'Jaipur')
(133, 'Riya Mehta', 'Female', datetime.date(2007, 6, 4), '9841216827', 'Hyderabad')
(134, 'Priya Kumar', 'Female', datetime.date(1991, 3, 23), '9763079391', 'Hyderabad')
(135, 'Amit Iyer', 'Male', datetime.date(2009, 1, 13), '9138549378', 'Chennai')
(136, 'Priya Patel', 'Female', datetime.date(1990, 2, 26), '9985692368', 'Hyderabad')
(137, 'Vikas Reddy', 'Male', datetime.date(2010, 8, 17), '9787524806', 'Lucknow')
(138, 'Kunal Iyer', 'Male', datetime.date(2010, 5, 15), '9530091412', 'Mumbai')
(139, 'Isha Singh', 'Female', datetime.date(2001, 3, 2), '9988116408', 'Indore')
(140, 'Pooja Gupta', 'Female', datetime.date(1991, 9, 3), '9700645270', 'Jaipur')
(141, 'Neha Reddy', 'Female', datetime.date(1998, 12, 1), '9702640904', 'Lucknow')
(142, 'Riya Gupta', 'Female', datetime.date(1997, 4, 14), '9586559199', 'Delhi')
(143, 'Sneha Gupta', 'Female', datetime.date(1995, 7, 6), '9446479596', 'Bengaluru')
(144, 'Isha Iyer', 'Female', datetime.date(1995, 10, 30), '9596774759', 'Indore')
(145, 'Ankit Verma', 'Male', datetime.date(1991, 4, 5), '9272238238', 'Kolkata')
(146, 'Ankit Iyer', 'Male', datetime.date(1999, 9, 21), '9418756490', 'Pune')
(147, 'Amit Iyer', 'Male', datetime.date(1996, 10, 21), '9378748466', 'Hyderabad')
(148, 'Aditya Iyer', 'Male', datetime.date(1999, 2, 10), '9633168239', 'Bengaluru')
(149, 'Isha Reddy', 'Female', datetime.date(2008, 8, 16), '9793672307', 'Pune')
(150, 'Pooja Gupta', 'Female', datetime.date(2006, 1, 19), '9686725438', 'Bengaluru')
(151, 'Rahul Kumar', 'Male', datetime.date(1999, 4, 4), '9705095356', 'Bengaluru')
(152, 'Vikas Singh', 'Male', datetime.date(2003, 2, 4), '9836492563', 'Jaipur')
(153, 'Suresh Gupta', 'Male', datetime.date(1998, 12, 12), '9443334631', 'Indore')
(154, 'Arjun Patel', 'Male', datetime.date(2000, 7, 20), '9793152945', 'Bengaluru')
(155, 'Suresh Verma', 'Male', datetime.date(1992, 9, 1), '9757287287', 'Jaipur')
(156, 'Priya Sharma', 'Female', datetime.date(1999, 10, 22), '9322812481', 'Lucknow')
(157, 'Aarti Patel', 'Female', datetime.date(1997, 10, 6), '9944927287', 'Hyderabad')
(158, 'Rahul Singh', 'Male', datetime.date(2007, 8, 20), '9754901295', 'Indore')
(159, 'Vikas Verma', 'Male', datetime.date(1998, 1, 16), '9157973549', 'Indore')
(160, 'Vikas Patel', 'Male', datetime.date(1993, 2, 27), '9543704886', 'Pune')
(161, 'Nisha Sharma', 'Female', datetime.date(1993, 9, 12), '9835409255', 'Pune')
(162, 'Anjali Mehta', 'Female', datetime.date(1991, 5, 19), '9100782317', 'Lucknow')
(163, 'Riya Kumar', 'Female', datetime.date(2007, 10, 20), '9217610912', 'Delhi')
(164, 'Isha Sharma', 'Female', datetime.date(1996, 7, 21), '9563866134', 'Pune')
(165, 'Riya Verma', 'Female', datetime.date(1994, 4, 1), '9996745125', 'Lucknow')
(166, 'Amit Mehta', 'Male', datetime.date(1997, 1, 29), '9481335490', 'Chennai')
(167, 'Amit Das', 'Male', datetime.date(2007, 12, 10), '9832805390', 'Bengaluru')
(168, 'Amit Verma', 'Male', datetime.date(1997, 12, 28), '9149722638', 'Lucknow')
(169, 'Pooja Kumar', 'Female', datetime.date(1993, 11, 8), '9565854882', 'Indore')
(170, 'Isha Singh', 'Female', datetime.date(1992, 8, 20), '9189659894', 'Kolkata')
(171, 'Kavya Verma', 'Female', datetime.date(2002, 12, 14), '9837032258', 'Lucknow')
(172, 'Amit Gupta', 'Male', datetime.date(1997, 9, 8), '9605218829', 'Lucknow')
(173, 'Sneha Iyer', 'Female', datetime.date(2006, 2, 27), '9614970475', 'Mumbai')
(174, 'Isha Das', 'Female', datetime.date(1999, 6, 22), '9792440127', 'Kolkata')
(175, 'Pooja Kumar', 'Female', datetime.date(2006, 3, 18), '9740373022', 'Mumbai')
(176, 'Neha Mehta', 'Female', datetime.date(2006, 12, 29), '9670349978', 'Chennai')
(177, 'Isha Reddy', 'Female', datetime.date(2009, 4, 27), '9439065995', 'Kolkata')
(178, 'Riya Verma', 'Female', datetime.date(2006, 3, 20), '9865102646', 'Lucknow')
(179, 'Aditya Kumar', 'Male', datetime.date(1994, 1, 15), '9827545598', 'Hyderabad')
(180, 'Rahul Iyer', 'Male', datetime.date(2002, 11, 27), '9205500940', 'Bengaluru')
(181, 'Sneha Singh', 'Female', datetime.date(1998, 12, 22), '9593931942', 'Jaipur')
(182, 'Anjali Iyer', 'Female', datetime.date(1996, 1, 11), '9319198313', 'Jaipur')
(183, 'Vikas Reddy', 'Male', datetime.date(1998, 4, 27), '9869821570', 'Jaipur')
(184, 'Sneha Singh', 'Female', datetime.date(2002, 1, 17), '9350668832', 'Indore')
(185, 'Rahul Mehta', 'Male', datetime.date(1996, 11, 11), '9213970643', 'Lucknow')
(186, 'Kavya Mehta', 'Female', datetime.date(2010, 4, 17), '9485373797', 'Bengaluru')
(187, 'Amit Gupta', 'Male', datetime.date(2005, 10, 21), '9156836259', 'Jaipur')
(188, 'Kavya Kumar', 'Female', datetime.date(2006, 12, 12), '9354307090', 'Bengaluru')
(189, 'Sneha Sharma', 'Female', datetime.date(2000, 6, 24), '9254020998', 'Lucknow')
(190, 'Aditya Sharma', 'Male', datetime.date(1999, 1, 6), '9960533540', 'Delhi')
(191, 'Aarti Verma', 'Female', datetime.date(1993, 8, 10), '9366901635', 'Indore')
(192, 'Neha Das', 'Female', datetime.date(2002, 8, 23), '9455063120', 'Mumbai')
(193, 'Rohit Gupta', 'Male', datetime.date(1992, 12, 26), '9180124343', 'Kolkata')
(194, 'Isha Gupta', 'Female', datetime.date(1995, 1, 7), '9471898018', 'Kolkata')
(195, 'Kunal Sharma', 'Male', datetime.date(2001, 1, 2), '9756671413', 'Bengaluru')
(196, 'Kunal Reddy', 'Male', datetime.date(1997, 11, 2), '9910029434', 'Indore')
(197, 'Vikas Iyer', 'Male', datetime.date(1998, 9, 13), '9902342419', 'Chennai')
(198, 'Vikas Verma', 'Male', datetime.date(1994, 6, 17), '9162441951', 'Mumbai')
(199, 'Anjali Sharma', 'Female', datetime.date(1999, 4, 3), '9199707306', 'Chennai')
(200, 'Priya Kumar', 'Female', datetime.date(1999, 3, 18), '9737542985', 'Bengaluru')
(201, 'Kavya Kumar', 'Female', datetime.date(1994, 8, 27), '9484991991', 'Jaipur')
(202, 'Rahul Verma', 'Male', datetime.date(2003, 7, 27), '9694449756', 'Jaipur')
(203, 'Neha Singh', 'Female', datetime.date(2001, 2, 2), '9256907945', 'Lucknow')
(204, 'Kunal Verma', 'Male', datetime.date(2010, 6, 4), '9311903498', 'Mumbai')
(205, 'Riya Iyer', 'Female', datetime.date(1991, 6, 18), '9178948125', 'Mumbai')
(206, 'Ankit Verma', 'Male', datetime.date(2000, 12, 31), '9651999570', 'Lucknow')
(207, 'Arjun Gupta', 'Male', datetime.date(2002, 9, 3), '9706652481', 'Chennai')
(208, 'Rahul Gupta', 'Male', datetime.date(2004, 9, 12), '9251038197', 'Mumbai')
(209, 'Sneha Mehta', 'Female', datetime.date(2005, 7, 7), '9129133105', 'Hyderabad')
(210, 'Sneha Sharma', 'Female', datetime.date(1997, 2, 24), '9716944234', 'Mumbai')
(211, 'Arjun Sharma', 'Male', datetime.date(1999, 10, 16), '9651199477', 'Lucknow')
(212, 'Pooja Gupta', 'Female', datetime.date(2001, 9, 20), '9710186160', 'Chennai')
(213, 'Ankit Verma', 'Male', datetime.date(2001, 5, 6), '9453091911', 'Hyderabad')
(214, 'Pooja Mehta', 'Female', datetime.date(2005, 10, 3), '9873330951', 'Chennai')
(215, 'Aarti Gupta', 'Female', datetime.date(1999, 6, 7), '9617378532', 'Indore')
(216, 'Riya Kumar', 'Female', datetime.date(1994, 5, 20), '9346765641', 'Bengaluru')
(217, 'Neha Iyer', 'Female', datetime.date(1991, 7, 18), '9736386906', 'Lucknow')
(218, 'Arjun Singh', 'Male', datetime.date(2006, 12, 22), '9277882733', 'Indore')
(219, 'Sneha Reddy', 'Female', datetime.date(2002, 6, 2), '9512024381', 'Indore')
(220, 'Arjun Sharma', 'Male', datetime.date(1991, 1, 24), '9390418561', 'Lucknow')
(221, 'Suresh Kumar', 'Male', datetime.date(1993, 6, 4), '9834911989', 'Mumbai')
(222, 'Arjun Mehta', 'Male', datetime.date(1996, 11, 28), '9979850825', 'Hyderabad')
(223, 'Pooja Iyer', 'Female', datetime.date(2004, 11, 28), '9434897748', 'Indore')
(224, 'Priya Sharma', 'Female', datetime.date(2000, 10, 11), '9652101476', 'Kolkata')
(225, 'Pooja Iyer', 'Female', datetime.date(1999, 10, 28), '9713489416', 'Pune')
(226, 'Pooja Mehta', 'Female', datetime.date(1998, 1, 28), '9222520190', 'Indore')
(227, 'Vikas Reddy', 'Male', datetime.date(2009, 6, 2), '9603912355', 'Jaipur')
(228, 'Amit Mehta', 'Male', datetime.date(2005, 9, 9), '9568829962', 'Mumbai')
(229, 'Anjali Reddy', 'Female', datetime.date(1997, 3, 10), '9480974240', 'Hyderabad')
(230, 'Neha Gupta', 'Female', datetime.date(2002, 1, 24), '9412880426', 'Bengaluru')
(231, 'Aditya Sharma', 'Male', datetime.date(2006, 4, 15), '9378002585', 'Delhi')
(232, 'Aditya Sharma', 'Male', datetime.date(1996, 4, 29), '9139946053', 'Bengaluru')
(233, 'Aditya Singh', 'Male', datetime.date(1996, 9, 17), '9783873652', 'Kolkata')
(234, 'Aarti Kumar', 'Female', datetime.date(2002, 3, 3), '9494639765', 'Chennai')
(235, 'Neha Iyer', 'Female', datetime.date(1999, 11, 10), '9461674132', 'Delhi')
(236, 'Anjali Kumar', 'Female', datetime.date(1991, 4, 24), '9946957976', 'Chennai')
(237, 'Anjali Reddy', 'Female', datetime.date(2003, 4, 16), '9764794701', 'Jaipur')
(238, 'Ankit Das', 'Male', datetime.date(1999, 9, 24), '9563490517', 'Hyderabad')
(239, 'Ankit Singh', 'Male', datetime.date(1997, 6, 20), '9105383932', 'Kolkata')
(240, 'Arjun Reddy', 'Male', datetime.date(1993, 11, 23), '9182868578', 'Pune')
(241, 'Ravi Singh', 'Male', datetime.date(1993, 4, 6), '9737749222', 'Mumbai')
(242, 'Neha Gupta', 'Female', datetime.date(2010, 6, 12), '9753950748', 'Chennai')
(243, 'Kunal Patel', 'Male', datetime.date(2002, 12, 9), '9598106373', 'Hyderabad')

In [ ]:
import mysql.connector
import pandas as pd

# connect to mysql
db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database="schema_demo"
)

# read 100 records into dataframe
df = pd.read_sql("select * from student limit 1000", db)

# save as csv
df.to_csv("student_1000_records.csv", index=False)

print("CSV file created: student_100_records.csv")

CSV file created: student_100_records.csv

/tmp/ipython-input-4114938564.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("select * from student limit 1000", db)